<%= render partial: "recipes/tabs" %>

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Acceuil", home_path %></li>
    <li class="breadcrumb-item"><%= link_to "Recettes", recipes_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @kind.name %></li>
  </ol>
</nav>

<%= content_for :title, @kind.name.capitalize + " - HedaCuisine" %>
<%# content_for :description, "TODO along the food description." %>

<%= link_to 'edit', edit_kind_path(@kind) if current_user_admin?  %>

<div style="margin-bottom: 1rem;">
  <h1 style="display: inline;"><%= @kind.name.capitalize %> </h1>
  <span style="font-size: 1.3rem;"> (<%= @kind.recipes.size%> <%= @kind.recipes.size > 1 ? "recettes" : "recette" %>)</span>
</div>

<% if @kind.recipes.blank? %>
  <p>Aucune recette ne contient cet ingrédient pour l'instant.</p>
<% else %>
  <% @kind.recipes.each do |recipe| %>
    <%= render recipe %>
    <%# link_to translated(recipe.name).capitalize, recipe %>
  <% end %>
<% end %>
