<%= render partial: "kinds/breadcrumbs", locals: {leaf: @kind} %>

<%= content_for :title, @kind.name.capitalize + " - HedaCuisine" %>
<%# content_for :description, "TODO along the food description." %>

<div style="margin-bottom: 1rem;">
  <h1 style="display: inline;"><%= @kind.name.capitalize %> </h1>
</div>

<% @kind.kinds.each do |kind| %>
  <%= render partial: "recipe_kinds/carrousel", locals: {title: link_to(kind.name, kind, style: "color: black;"), recipe_kinds: kind.recipe_kinds, carrousel_id: kind.id} %>
<% end %>

<% if @kind.recipe_kinds.count <= 0 and @kind.kinds.blank? %>
  <p>Cette catégorie est vide pour l'instant.</p>
<% end %>

<% @kind.recipe_kinds.each do |recipe_kind| %>
  <%= render partial: "recipe_kinds/recipe_kind_preview", locals: {recipe_kind: recipe_kind} %>
  <%# link_to translated(recipe.name).capitalize, recipe %>
<% end %>

<% content_for :import_js do %>
  <%= js_import_tag "recipe_carrousel" %>
<% end %>
