<%= render partial: "recipes/tabs" %>

<%= render partial: "kinds/breadcrumbs", locals: {leaf: @kind} %>

<%= content_for :title, @kind.name.capitalize + " - HedaCuisine" %>
<%# content_for :description, "TODO along the food description." %>

<div style="margin-bottom: 1rem;">
  <h1 style="display: inline;"><%= @kind.name.capitalize %> </h1>
  <% count = @kind.all_recipes_count %>
  <span style="font-size: 1.3rem;"> (<%= count %> <%= count > 1 ? "recettes" : "recette" %>)</span>
</div>

<% @kind.kinds.each do |kind| %>
  <%= render partial: "recipes/recipe_carrousel", locals: {title: link_to(kind.name, kind, style: "color: black;"), recipes: kind.recipes.all_main.all_public.with_images.limit(10), carrousel_id: kind.id} %>
<% end %>

<% if count <= 0 %>
  <p>Aucune recette ne contient cet ingrédient pour l'instant.</p>
<% end %>

<% @kind.recipes.each do |recipe| %>
  <%= render recipe %>
  <%# link_to translated(recipe.name).capitalize, recipe %>
<% end %>
