<%= link_to 'Show', @menu %>

<style>
.title_icon {
  font-size: 0.5em;
  cursor: pointer;
}
</style>

<h1>
  Menu: <%= @menu.name %>
  <span class="toggle-link title_icon" data-toggle_id="edit_menu_name_form">✏️</span>
  <span class="toggle-link title_icon" data-toggle_id="add_category_form">➕</span>
  <span class="title_icon">🗑️</span>
</h1>

<%= form_with(model: @menu, local: true) do |form| %>
  <%= form.label :listing_id %>
  <%= form.collection_select :listing_id, Listing.order(:name).all, :id, :name, include_blank: true %>
  <%= form.submit %>
<% end %>

<h2>
  Description
  <span class="toggle-link title_icon" data-toggle_id="add_description_form">✏️</span>
</h2>

<% if @description.blank? %>
  <p>Aucune description</p>
<% else %>
  <p><%= @description %></p>
<% end %>

<div id='add_description_form'>
  <%= form_with(model: Description.new, local: true) do |form| %>
    <div><%= form.collection_select :language_id, Language.order(:name).all, :id, :name %></div>
    <div><%= form.text_area :content, rows: 10, cols: 120 %></div>
    <%= form.hidden_field :described_id, value: @menu.id %>
    <%= form.hidden_field :described_type, value: 'Menu' %>
    <div><%= form.submit %></div>
  <% end %>
</div>

<div id="edit_menu_name_form" hidden>
  <%= form_with(model: @menu, local: true) do |form| %>
    <div class="field">
      Emoji: <%= form.text_field :emoji %>
    </div>
    <div class="field">
      Nom: <%= form.text_field :name %>
    </div>
    <div class="field">
      Is cookable: <%= form.check_box :is_cookable %>
    </div>
    <%= form.submit "Modifier" %>
  <% end %>
</div>

<div id="add_category_form" hidden>
  <%= form_with(model: @category, local: true) do |form| %>
    <% if @category and @category.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>
  
        <ul>
          <% @category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
  
    <%= form.hidden_field :menu_id, value: @menu.id %>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>

<span id="autocomplete-data" data-recipes="<%= Recipe.all.map {|v| [v.id, v.fullname] } %>"/>

<% @menu.categories.each do |category| %>
  <h2>
    <%= category.name %>
    <span class="title_icon">✏️</span>
    <span class="toggle-link title_icon" data-toggle_id="add_recipe_<%= category.id %>">➕</span>
    <%= link_to "🗑️", category, method: :delete, data: {confirm: 'Are you sure?'}, class: "title_icon" %>
  </h3>
  <ul>
    <% category.items.each do |item| %>
      <li>
        <%= link_to item.recipe.fullname, edit_recipe_path(item.recipe) %>
        <%= link_to "🗑️", item, method: :delete, data: {confirm: 'Are you sure?'} %>
      </li>
    <% end %>
  </ul>

  <div id="add_recipe_<%= category.id %>">
    <%= form_with(url: menus_add_or_create_recipe_path, local: true) do |form| %>
      Nom: <%= form.text_field :recipe_name, id: "autocomplete-search-recipe-#{category.id}", class: 'autocomplete-search-recipe', placeholder: "Recette...", size: "40" %><br>
      Lien: <%= form.text_field :source, size: 40 %><br>
      <%= hidden_field_tag :category_id, category.id %>
      <%= hidden_field_tag :recipe_id, nil, id: "autocomplete-search-recipe-#{category.id}-id" %>
      <%= form.submit "Ajouter ou créer" %>
    <% end %>
  </div>
<% end %>


<%= javascript_pack_tag "menu_editor" %>
