<ul class="nav nav-tabs">
  <span class="nav-item navbar-brand"><b>Admin</b></span>
  <%= link_to_active "Machines", machines_path, class: "nav-item nav-link" %>
  <%= link_to_active t("heda.menu.foods"), foods_path, class: "nav-item nav-link" %>
  <%= link_to_active t("heda.menu.units"), units_path, class: "nav-item nav-link" %>
  <%= link_to_active t("heda.menu.translations"), translations_path, class: "nav-item nav-link" %>
  <%= link_to_active t("heda.menu.food_recipes"), food_recipes_path, class: "nav-item nav-link" %>
  <%= link_to_active t("heda.menu.container_formats"), container_formats_path, class: "nav-item nav-link" %>
  <%= link_to_active "Stats", stats_index_path, class: "nav-item nav-link" %>
  <%= link_to_active "Tâches", tasks_path, class: "nav-item nav-link" %>
  <%= link_to_active "Listings", listings_path, class: "nav-item nav-link" %>
</ul>
