<%= render partial: 'meta/nav' %>

<h2>Missing translations</h2>
  
<table>
  <thead>
    <tr>
      <th>Original</th>
      <th>Translated</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @to_translate.each do |missing| %>
      <tr>
        <%= form_with model: Translation.new(original: missing.content) do |form| %>
          <%= hidden_field_tag :missing_translation_id, missing.id %>
          <%= form.hidden_field :from, value: @from.id %>
          <%= form.hidden_field :to, value: @to.id %>
          <% if missing.content.size > 80 %>
            <td><%= form.text_area :original, cols: 60, rows: 12 %></td>
            <td><%= form.text_area :translated, cols: 60, rows: 12 %></td>
          <% else %>
            <td><%= form.text_field :original, size: 60 %></td>
            <td><%= form.text_field :translated, size: 60 %></td>
          <% end %>
          <td><%= form.submit %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Translations</h2>

<table>
  <thead>
    <tr>
      <th>Original</th>
      <th>Translated</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @translations.each do |translation| %>
      <tr>
        <%= form_with model: translation do |form| %>
          <%= form.hidden_field :from, value: @from.id %>
          <%= form.hidden_field :to, value: @to.id %>
          <% if translation.original.size > 80 %>
            <td><%= form.text_area :original, cols: 60, rows: 12 %></td>
            <td><%= form.text_area :translated, cols: 60, rows: 12 %></td>
          <% else %>
            <td><%= form.text_field :original, size: 60 %></td>
            <td><%= form.text_field :translated, size: 60 %></td>
          <% end %>
          <td><%= form.submit "Update" %></td>
        <% end %>
        <td><%= button_to "Delete", translation, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
