<%= render partial: 'meta/nav' %>

<h2>Missing translations</h2>
  
<table>
  <thead>
    <tr>
      <th>Original</th>
      <th>Translated</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @to_translate.each do |missing| %>
      <tr>
        <%= form_with model: Translation.new(original: missing.content.downcase) do |form| %>
          <%= form.hidden_field :from, value: @from.id %>
          <%= form.hidden_field :to, value: @to.id %>
          <td><%= form.text_field :original %></td>
          <td><%= form.text_field :translated %></td>
          <td><%= form.submit %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Translations</h2>

<table>
  <thead>
    <tr>
      <th>Original</th>
      <th>Translated</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @translations.each do |translation| %>
      <tr>
        <%= form_with model: translation do |form| %>
          <%= form.hidden_field :from, value: @from.id %>
          <%= form.hidden_field :to, value: @to.id %>
          <td><%= form.text_field :original %></td>
          <td><%= form.text_field :translated %></td>
          <td><%= form.submit %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
