<%= link_to 'Show', article_path(@article) %> |
<%= link_to 'Index', articles_path %>

<%= render partial: "layouts/help" %>

<br><br>

<h1 data-model="<%= @article.model_name.to_s.underscore %>" data-url="<%= article_path(@article) %>" data-update-column="name" contenteditable="true"><%= @article.name %></h1>
<div id="root"></div>

<h2>Références</h2>

<%# javascript_pack_tag "edit" %>
<%= javascript_pack_tag "article_editor" %>
<%= stylesheet_pack_tag "react_recipe_editor" %>
