<%= link_to 'Show', article_path(@article) %> |
<%= link_to 'Index', articles_path %>

<%= render partial: "layouts/help" %>

<br><br>

<h1 data-model="<%= @article.model_name.to_s.underscore %>" data-url="<%= article_path(@article) %>" data-update-column="name" contenteditable="true"><%= @article.name %></h1>
<textarea data-model="<%= @article.model_name.to_s.underscore %>" data-url="<%= article_path(@article) %>" data-update-column="intro" style="width: 100%;" rows=8 contenteditable="true"><%= @article.intro %></textarea>
<br><br>

<h2>Table of contents</h2>

<ul class="list-group" data-controller="drag" data-drag-base-url="<%= article_path(@article) %>">
  <% @article.sections.each do |section| %>
    <li class="list-group-item draggable" data-url="<%= section_move_path(section) %>">
      <%= image_tag asset_path("arrows-move.svg") %>
      <%= section.title %>
    </li>
  <% end %>
</ul>
<br><br>

<% @article.sections.each do |section| %>
  <div class="d-flex">
    <%= image_tag asset_path("arrows-move.svg"), class: "handle", style: "padding: 0 0.5em;" %>
    <h2 data-model="<%= section.model_name.to_s.underscore %>" data-url="<%= section_path(section) %>" data-update-column="name" contenteditable="true"><%= section.title %></h2>
  </div>
  <textarea data-model="<%= section.model_name.to_s.underscore %>" data-url="<%= section_path(section) %>" data-update-column="content" style="width: 100%;" rows=8 contenteditable="true"><%= section.content %></textarea>
  <br><br>
<% end %>

<hr>

<h2>Add section</h2>
<%= form_with(model: Section.new, local: true) do |form| %>
  <%= form.hidden_field :article_id, value: @article.id %>
  <%= form.label :title %><br>
  <%= form.text_field :title, size: 80 %><br>
  <%= form.label :content %><br>
  <%= form.text_area :content, cols: 80, rows: 8 %><br>
  <%= form.submit "Ajouter" %>
<% end %>

<%= javascript_pack_tag "edit" %>
