<div style="height: 0.5em;"></div>
<% if current_user_admin? %>
  <%= button_to "Edit", edit_article_path(@article), {method: :get, form_class: "inline", class: "btn btn-outline-primary inline"} %>
  <%= form_with(model: @article, class: "inline", local: true) do |form| %>
    <%= form.hidden_field :is_public, value: !@article.is_public %>
    <% if @article.is_public %>
      <%= form.submit "Make private", class: "btn btn-outline-secondary" %>
    <% else %>
      <%= form.submit "Make public", class: "btn btn-outline-secondary" %>
    <% end %>
  <% end %>
<% end %>

<div class="article">
  <h1><%= @article.name %></h1>
  
  <%= my_sanitize(@article.html) %>

  <h2>Commentaires</h2>

  <p>La section des commentaires n'est pas encore fonctionnelle. Pour toutes questions ou commentaires, vous pouvez me contacter à <%= mail_to "hedacuisine@gmail.com" %></p>
  <div style="height: 3em;"></div>
</div>
