<% if current_user_admin? %>
  <%= button_to "Edit", edit_article_path(@article), {method: :get, form_class: "inline", class: "btn btn-outline-primary inline"} %>
  <%= form_with(model: @article, class: "inline", local: true) do |form| %>
    <%= form.hidden_field :is_public, value: !@article.is_public %>
    <% if @article.is_public %>
      <%= form.submit "Make private", class: "btn btn-outline-secondary" %>
    <% else %>
      <%= form.submit "Make public", class: "btn btn-outline-secondary" %>
    <% end %>
  <% end %>
<% end %>

<h1><%= @article.name %></h1>

<div>
  <%= pretty_article_text(@article.intro) %>
</div>

<% @article.sections.each do |section| %>
  <h2><%= sanitize section.title %></h2>
  <div>
    <%= pretty_article_text(section.content) %>
  </div>
<% end %>
