<%= render partial: 'meta/nav' %>

<%= link_to 'New Theme', new_theme_path %>

<h1>Themes</h1>

<div style="display: flex; gap: 20px;">
  <% @themes.each do |theme| %>
    <%= render partial: 'themes/stylesheet', locals: {theme: theme} %>
    <%= link_to edit_theme_path(theme) do %>
      <% book = Book.new %>
      <% book.theme = theme %>
      <% book.name = "#{theme.name} theme" %>
      <% book.user = current_user %>
      <% book.theme = theme %>
      <%= render partial: "books/title_page_thumbnail", locals: {book: book} %>
    <% end %>
  <% end %>
</div>
