<%= render partial: "recipes/tabs" %>

<%= render partial: "recipes/recipe_carrousel", locals: {title: "Dernières recettes favorites", recipes: current_user.user_recipes.includes(:recipe).where.not(recipe: {image_id: nil}).limit(10).map(&:recipe)} %>

<style>
.recipe-body {
  border: 1px solid black;
  padding: 0.5em 0.5em 0 0.5em;
}
</style>

<div style="display: flex; align-items: center; gap: 1.5rem;">
  <h2>Mes recettes favorites</h2>
  <%= link_to translated("Modifier"), user_recipes_index_edit_path, class: "btn btn-outline-primary btn-sm" %>
</div>
<hr style="margin-top: 0;">

<style>
.category {
  margin-bottom: 1.5rem;
}
#user-recipe-list > * + * {
  margin-bottom: 1.5rem;
}
</style>

<div id="user-recipe-list">
  <div>
    <% @user_recipes_without_category.each do |user_recipe| %>
      <%= link_to user_recipe.recipe.name, user_recipe.recipe, style: "color: black;" %><br>
    <% end %>
    <% if !@user_recipes_without_category.blank? and !@user_recipe_categories.blank? %>
      <div style="height: 20px;"></div>
    <% end %>
  </div>

  <div class="row">
    <% @halves.each do |categories| %>
      <div class="col-md-6">
        <% categories.each do |category| %>
          <div class="category">
            <h2 style="font-size: 1.4rem;">
              <%= category.name %>
            </h2>
            <% if category.user_recipes.blank? %>
              <p>Aucune recettes pour l'instant.</p>
            <% end %>
            <% category.user_recipes.each do |user_recipe| %>
              <%= link_to user_recipe.recipe.name, user_recipe.recipe, style: "color: black;" %><br>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  
  <% if @user_recipes_without_category.blank? and @user_recipe_categories.blank? %>
    <p>Aucune recettes pour l'instant. Ajouter des recettes en cliquant sur l'onglet «Modifier mes recettes»</p>
  <% end %>
</div>

<div style="display: flex; align-items: center; gap: 1.5rem;">
  <h2>Mon livre de recettes</h2>
  <%= link_to translated("Nouvelle recette"), new_recipe_path, class: "btn btn-outline-primary btn-sm" %>
</div>
<hr style="margin-top: 0;">

<%= content_tag(:div, id: "current-page", data: {page: params[:page] || 1, "replace-url": user_recipes_show_recipe_page_path(page: '{{}}')}) do %>
  <%= render partial: "user_recipes/current_page", locals: {recipes: current_user.recipes} %>
<% end %>

<%= javascript_pack_tag "user_recipes_index" %>
<%= javascript_pack_tag "recipe_slider_pack_v2" %>
