<%= render partial: "recipes/tabs" %>
<%= render partial: "user_recipes/pills" %>

<%= render partial: "recipes/recipe_carrousel", locals: {title: "Dernières recettes favorites", recipes: current_user.user_recipes.includes(:recipe).where.not(recipe: {image_id: nil}).limit(10).map(&:recipe)} %>

<style>
.recipe-body {
  border: 1px solid black;
  padding: 0.5em 0.5em 0 0.5em;
}
</style>

<h2>Mes recettes favorites</h2>
<hr>

<style>
.category {
  margin-bottom: 1.5rem;
}
#user-recipe-list > * + * {
  margin-bottom: 1.5rem;
}
</style>

<div id="user-recipe-list">
  <div>
    <% @user_recipes_without_category.each do |user_recipe| %>
      <%= link_to user_recipe.recipe.name, user_recipe.recipe, style: "color: black;" %><br>
    <% end %>
    <% if !@user_recipes_without_category.blank? and !@user_recipe_categories.blank? %>
      <div style="height: 20px;"></div>
    <% end %>
  </div>

  <div class="row">
    <% @halves.each do |categories| %>
      <div class="col-md-6">
        <% categories.each do |category| %>
          <div class="category">
            <h2 style="font-size: 1.4rem;">
              <%= category.name %>
            </h2>
            <% if category.user_recipes.blank? %>
              <p>Aucune recettes pour l'instant.</p>
            <% end %>
            <% category.user_recipes.each do |user_recipe| %>
              <%= link_to user_recipe.recipe.name, user_recipe.recipe, style: "color: black;" %><br>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  
  <% if @user_recipes_without_category.blank? and @user_recipe_categories.blank? %>
    <p>Aucune recettes pour l'instant. Ajouter des recettes en cliquant sur l'onglet «Modifier mes recettes»</p>
  <% end %>
</div>

<h2>Mon livre de recettes</h2>
<hr>

<div style="min-height: 100vh;">
  <div style="font-size: 1.2rem;">
    (<span class="page-number"><%= params[:page] || 1 %></span> de <%= current_user.recipes.count %>) recettes
    <% if params[:page].blank? or params[:page].to_i == 1 %>
      <%= image_tag asset_path("chevron-left.svg") %>
    <% else %>
      <%= link_to image_tag(asset_path("chevron-left.svg")), regional_url_for(page: params[:page].to_i - 1), id: "previous-recipe-link", "data-replace-tag": ".recipe-body" %>
    <% end %>
    <% if params[:page].to_i == current_user.recipes.count %>
      <%= image_tag asset_path("chevron-right.svg") %>
    <% else %>
      <%= link_to image_tag(asset_path("chevron-right.svg")), regional_url_for(page: (params[:page] || 1).to_i + 1), id: "next-recipe-link" %>
    <% end %>
  </div>
  <!-- TODO: Pass MAX to js -->
  <%= content_tag(:div, id: "current-page", data: {page: params[:page] || 1, max: current_user.recipes.count, "replace-url": user_recipes_show_recipe_page_path(page: '{{}}')}) do %>
    <%= render partial: "recipes/recipe_body", locals: {recipe: @recipe} %>
  <% end %>
  <%# current_user.recipes.each do |recipe| %>
    <%# link_to recipe.name, recipe, style: "color: black;" %><br>
    <%# end %>
</div>

<%= javascript_pack_tag "user_recipes_index" %>
<%= javascript_pack_tag "recipe_slider_pack_v2" %>
