<% unless recipe.preparation_time.nil? %>
  <div>
    <b>Préparation:</b>
    <span style="color: gray;"><%= pretty_time(recipe.preparation_time) %></span>
  </div>
<% end %>
<% unless recipe.cooking_time.nil? %>
  <div>
    <b>Cuisson:</b>
    <span style="color: gray;"><%= pretty_time(recipe.cooking_time) %></span>
  </div>
<% end %>
<% unless recipe.total_time.nil? %>
  <div>
    <b>Total:</b>
    <span style="color: gray;"><%= pretty_time(recipe.total_time) %></span>
  </div>
<% end %>
<% unless recipe.servings_quantity.nil? %>
  <div>
    <b>Portions:</b>
    <span style="color: gray;"><%= scalable_qty(recipe.servings_quantity) %> <%= recipe.servings_name %></span>
  </div>
<% end %>
<% unless @recipe.recipe_kind.blank? %>
  <br>
  <%= link_to "Voir les recettes similaires (#{@recipe.recipe_kind.recipes.all_public.count-1})", @recipe.recipe_kind, class: "btn btn-outline-primary" %>
<% end %>
