<% if current_user %>
  <% tags = current_user.suggestions.where(recipe_id: recipe.id) # FIXME: db query inside view %>
  <div>
    <b>Tags: </b>
    <% if tags.blank? %>
      <span style="color: gray;"> Aucun</span>
    <% else %>
      <% tags.each do |tag| %>
        <span style="color: gray;"> #<%= tag.name %></span>
      <% end %>
    <% end %>
  </div>
<% end %>
<% unless recipe.preparation_time.nil? %>
  <div>
    <b>Préparation:</b>
    <span style="color: gray;"><%= pretty_time(recipe.preparation_time) %></span>
  </div>
<% end %>
<% unless recipe.cooking_time.nil? %>
  <div>
    <b>Cuisson:</b>
    <span style="color: gray;"><%= pretty_time(recipe.cooking_time) %></span>
  </div>
<% end %>
<% unless recipe.total_time.nil? %>
  <div>
    <b>Total:</b>
    <span style="color: gray;"><%= pretty_time(recipe.total_time) %></span>
  </div>
<% end %>
<% unless recipe.servings_quantity.nil? %>
  <div>
    <b>Portions:</b>
    <span style="color: gray;"><%= scalable_qty(recipe.servings_quantity) %> <%= recipe.servings_name %></span>
  </div>
<% end %>
<% if account_signed_in? %>
  <div style="display: flex; gap: 5px; margin-top: 10px;">
    <%= link_to "FIXME", class: "btn btn-outline-secondary" do %>
      <%= image_tag icon_path("printer.svg") %>
    <% end %>
    <%= link_to "FIXME", class: "btn btn-outline-secondary" do %>
      <%= image_tag icon_path("share.svg") %>
    <% end %>
    <%= link_to "FIXME", class: "btn btn-outline-secondary" do %>
      <%= image_tag icon_path("download.svg") %>
    <% end %>
    <%= image_tag icon_path(recipe.is_user_favorite(current_user) ? "star-fill.svg" : "star.svg"), class: "recipe-favorite-toggleable clickable btn btn-outline-secondary" %>
  </div>
<% end %>
<% unless true or @recipe.recipe_kind.blank? %>
  <br>
  <% nb = @recipe.recipe_kind.recipes.all_public.count %>
  <% nb += 1 unless @recipe.is_public %>
  <%= link_to "Voir les recettes similaires (#{nb-1})", @recipe.recipe_kind, class: "btn btn-outline-primary" %>
<% end %>
