<div>
  <% unless (defined?(show_ingredient_list) && show_ingredient_list == false) or recipe.ingredients.blank? %>
    <b>Ingrédients:</b>
    <span style="color: gray;"><%= recipe.ingredient_list %></span>
  <% end %>
</div>
<% unless recipe.preparation_time.nil? %>
  <div>
    <b>Préparation:</b>
    <span style="color: gray;"><%= recipe.preparation_time %> minutes</span>
  </div>
<% end %>
<% unless recipe.cooking_time.nil? %>
  <div>
    <b>Cuisson:</b>
    <span style="color: gray;"><%= recipe.cooking_time %> minutes</span>
  </div>
<% end %>
<% unless recipe.total_time.nil? %>
  <div>
    <b>Total:</b>
    <span style="color: gray;"><%= recipe.total_time %> minutes</span>
  </div>
<% end %>
<% unless recipe.servings_quantity.nil? %>
  <div>
    <b>Portions:</b>
    <span style="color: gray;"><%= recipe.servings_quantity%> <%= recipe.servings_name %></span>
  </div>
<% end %>
