<div class="dropdown" style="padding: 0 1rem;">
  <%= image_tag icon_path("list-white.svg"), "data-bs-toggle": "dropdown", style: "cursor: pointer;" %>
  <div class="dropdown-menu">
    <% if recipe.owned_by?(current_user) %>
      <%= link_to 'Modifier', edit_recipe_path(recipe), class: "dropdown-item" %>
    <% end %>
    <% unless recipe.source.blank? %>
      <%= link_to 'Voir la source', recipe.source, class: "dropdown-item" %>
    <% end %>
    <%= link_to "Créer une variation", new_variant_recipes_path(base_recipe_id: recipe.id), class: "dropdown-item" %>
    <% if user_signed_in? and current_user.id == recipe.user_id %>
      <%= form_with(model: recipe, class: "inline", local: true) do |form| %>
        <%= form.hidden_field :is_public, value: !recipe.is_public %>
        <% if recipe.is_public %>
          <%= form.submit "Make private", class: "dropdown-item" %>
        <% else %>
          <%= form.submit "Make public", class: "dropdown-item" %>
        <% end %>
      <% end %>
    <% end %>
    <% user_recipe = recipe.user_recipe_for(current_user) %>
    <% if user_signed_in? and user_recipe %>
      <%= link_to "Enlever de mes recettes", user_recipe, class: "dropdown-item", method: :delete, data: {confirm: 'Are you sure?'} %>
    <% else %>
      <%= form_with(model: UserRecipe.new, class: "inline") do |form| %>
        <%= form.hidden_field :recipe_id, value: recipe.id %>
        <%= form.submit "Ajouter à mes recettes", class: "dropdown-item" %>
      <% end %>
    <% end %>
    <span data-bs-toggle="collapse" data-bs-target="#calendar" class="dropdown-item" style="cursor: pointer;">Ajouter à mon calendrier</span>
  </div>
</div>
