<% black_icon = false unless local_assigns[:black_icon] %>

<span class="dropdown" style="padding: 0 1rem;">
  <%= image_tag icon_path(black_icon ? "list.svg" : "list-white.svg"), "data-bs-toggle": "dropdown", style: "cursor: pointer;" %>
  <div class="dropdown-menu">
    <% if recipe.owned_by?(current_user) %>
      <%= link_to 'Modifier', edit_recipe_path(recipe), class: "dropdown-item" %>
    <% end %>
    <% unless recipe.source.blank? %>
      <%= link_to 'Voir la source', recipe.source, class: "dropdown-item" %>
    <% end %>
    <%= link_to "Créer une variation", new_variant_recipes_path(base_recipe_id: recipe.id), class: "dropdown-item" %>
    <% if user_signed_in? and current_user.id == recipe.user_id %>
      <%= form_with(model: recipe, class: "inline", local: true) do |form| %>
        <%= form.hidden_field :is_public, value: !recipe.is_public %>
        <% if recipe.is_public %>
          <%= form.submit "Make private", class: "dropdown-item" %>
        <% else %>
          <%= form.submit "Make public", class: "dropdown-item" %>
        <% end %>
      <% end %>
    <% end %>
    <span data-bs-toggle="collapse" data-bs-target="#calendar" class="dropdown-item" style="cursor: pointer;">Ajouter à mon calendrier</span>
    <span id="add-to-book-btn" class="dropdown-item" style="cursor: pointer;">Ajouter à mon livre</span>
  </div>
</span>
