<span style="width: 9em;">

  <% if current_user and recipe.user_rating(current_user) %>

    <div class="rating" style="display: inline-block;" data-id=<%= recipe.id %> <%= "data-rating=#{recipe.user_rating(current_user).rating}" %>></div>
    <span style="padding-left: 3px;"><%= link_to 'X', recipe_ratings_path(recipe_id: recipe.id), method: :delete %></span>

  <% elsif recipe.average_rating %>

    <div class="rating" style="display: inline-block;" data-id=<%= recipe.id %> <%= "data-rating=#{recipe.average_rating}" %>></div>
    <span style="padding-left: 3px;">(<%= recipe.number_of_ratings %>)</span>

  <% else %>

    <div class="rating" style="display: inline-block;" data-id=<%= recipe.id %>></div>
    <span style="padding-left: 3px;">(0)</span>
  <% end %>
</span>
