<%# alternatives = @recipe.alternatives.sort_by {|r| r.version_nb || -1} %>
<%# unless current_user_admin? %>
  <%# alternatives = alternatives.reject {|r| !r.is_public} %>
<%# end %>
<%# versions = ([@recipe] + alternatives).sort_by {|r| r.id} %>
<% versions = @recipe.recipe_kind ? @recipe.recipe_kind.recipes : [] %>

<span id="servings-quantity-value" hidden><%= @recipe.servings_quantity %></span>
<span id="ingredient-list" data-values="<%= @recipe.ingredients.inject({}) {|ings, i|
  qty = i.quantity_model; ings[i.id] = {ml: qty.ml, grams: qty.grams, total: qty.total, unit_weight: i.food.unit_weight, density: i.food.density, raw: i.raw}; ings
}.to_json
%>"/>

<% if @recipe.recipe_kind %>
  <%= render partial: @recipe.recipe_kind %>
<% end %>

<% if user_signed_in? %>
  <% machine = current_user.machines.first_or_create %>
  <div class="collapse" id="calendar">
    <%= render partial: "meals/calendar", locals: {recipe: @recipe, machine: machine, meals: machine.meals.includes(:recipe) } %>
    <div style="height: 10px;"></div>
  </div>
<% end %>


<div style="height: 0.5em;"></div>

<% if @recipe.recipe_kind.blank? %>
  <%= render partial: "recipes/recipe_body", locals: {recipe: @recipe} %>
<% else %>
  <% page = versions.index(@recipe) + 1 %>
  <div style="min-height: 100vh;">
    <div style="display: flex; gap: 2em;">
      <div style="font-size: 1.2rem;">
        (<span id="page-number"><%= page %></span> de <%= versions.count %>) recettes
        <span id="previous-container">
          <% if page == 1 %>
            <%= image_tag icon_path("chevron-left.svg"), style: "opacity: 0.5;" %>
          <% else %>
            <%= link_to image_tag(icon_path("chevron-left.svg")), recipe_path(versions[page-2]), id: "previous-recipe-link" %>
          <% end %>
        </span>
        <span id="next-container">
          <% if page == versions.count %>
            <%= image_tag icon_path("chevron-right.svg"), style: "opacity: 0.5;" %>
          <% else %>
            <%= link_to image_tag(icon_path("chevron-right.svg")), recipe_path(versions[page]), id: "next-recipe-link" %>
          <% end %>
        </span>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="collapse" data-bs-target="#filter-collapse" aria-expanded="false" aria-controls="filterCollapse">Filter</button>
    </div>
    <div class="collapse" id="filter-collapse">
      <% if current_user_admin? %>
        <div style="height: 0.5em;"></div>
        <div style="display: flex; gap: 10px; flex-wrap: wrap;">
          <div class="dropdown">
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dietMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Diète
            </button>
            <div class="dropdown-menu" aria-labelledby="dietMenuButton">
              <span class="dropdown-item cursor-pointer filter-add-green-diet-link">Végétarien</span>
              <span class="dropdown-item cursor-pointer filter-add-green-diet-link">Végane</span>
              <span class="dropdown-item cursor-pointer filter-add-green-diet-link">Kéto</span>
            </div>
          </div>
          <div class="dropdown">
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="withoutIngMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sans ingrédient
            </button>
            <div class="dropdown-menu" aria-labelledby="withoutIngMenuButton">
              <% @recipe.ingredients.each do |ing| %>
                <span class="dropdown-item cursor-pointer filter-add-red-ing-link"><%= ing.name %></span>
              <% end %>
            </div>
          </div>
          <div class="dropdown">
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="withIngMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Avec ingrédient
            </button>
            <div class="dropdown-menu" aria-labelledby="withIngMenuButton">
              <% @recipe.alternative_ingredients.each do |ing| %>
                <span class="dropdown-item cursor-pointer filter-add-green-ing-link"><%= ing.name %></span>
              <% end %>
            </div>
          </div>
          <div class="dropdown">
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="withoutToolMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sans outil
            </button>
            <div class="dropdown-menu" aria-labelledby="withoutToolMenuButton">
              <a class="dropdown-item" href="#">TODO</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="withToolMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Avec outil
            </button>
            <div class="dropdown-menu" aria-labelledby="withToolMenuButton">
              <a class="dropdown-item" href="#">TODO</a>
            </div>
          </div>
        </div>
        <div style="margin-top: 0.5rem; margin-bottom: 0.2rem;">
          <span>Filtres actifs: </span>
          <span id="active-filters">
            Aucun
          </span>
        </div>
      <% end %>
    </div>
    <div style="height: 0.2em;"></div>
    <div id="current-page">
      <%= render partial: "recipes/recipe_body", locals: {recipe: @recipe} %>
    </div>
  </div>
  <%= javascript_pack_tag "paginator" %>
<% end %>

<div style="height: 1rem;"></div>

<%# javascript_pack_tag "recipe" %>
<%= javascript_pack_tag "toggle_link" %>
<%= javascript_pack_tag "dropdown_submenu" %>
<%= javascript_pack_tag current_user ? "recipe_rating" : "recipe_rating_read_only" %>
<%= javascript_pack_tag "recipes_show" %>
