<% book_recipe = nil unless local_assigns[:book_recipe] %>
<% path = book_recipe ? [@book, book_recipe] : recipe %>

<div class="row" style="margin-top: 10px;">
  <div class="col-sm-auto">
    <%= link_to path do %>
      <% if recipe.image %>
        <%= image_tag small_image_path(recipe.image), width: 255, height: 171 %>
      <% else %>
        <%= image_tag '/default_recipe_01.png', width: 255, height: 171 %>
      <% end %>
    <% end %>
  </div>
  <div class="col recipe-details-small">
    <%= link_to path do %>
      <div class="recipe-listing-title">
        <%= translated(recipe.name) %>
      </div>
    <% end %>
    <%= render partial: "recipes/details_small_version", locals: {recipe: recipe} %>

  </div>
</div>
