<div class="row" style="margin-bottom: 10px;">
  <div class="col-sm-auto">
    <%= link_to recipe_path(recipe) do %>
      <% if recipe.image %>
        <%= image_tag small_image_path(recipe.image), width: 255, height: 171 %>
      <% else %>
        <img width="255" height="171"></img>
      <% end %>
    <% end %>
  </div>
  <div class="col recipe-details-small">
    <%= link_to recipe_path(recipe) do %>
      <div class="recipe-listing-title">
        <%= translated(recipe.name) %>
      </div>
    <% end %>
    <%= render partial: "recipes/details_small_version", locals: {recipe: recipe} %>

  </div>
</div>
