<% alternatives = @recipe.alternatives.sort_by(&:version_nb) %>
<% unless current_user_admin? %>
  <% alternatives = alternatives.reject {|r| !r.is_public} %>
<% end %>
<% versions = [@recipe] + alternatives %>

<span id="servings-quantity-value" hidden><%= @recipe.servings_quantity %></span>
<span id="ingredient-list" data-values="<%= @recipe.ingredients.inject({}) {|ings, i|
  qty = i.quantity_model; ings[i.id] = {ml: qty.ml, grams: qty.grams, total: qty.total, unit_weight: i.food.unit_weight, density: i.food.density, raw: i.raw}; ings
}.to_json
%>"/>

<div class="responsive-sm-above">
  <div>
    <% if @recipe.image_id and @recipe.image %>
      <%= image_tag medium_image_path(@recipe.image), width: 452, height: 304, class: "recipe-show-image", style: "display: block;" %>
      <% if @recipe.image.author %>
        <div style="text-align: center;"><i>Crédit photo: <%= @recipe.image.author %></i></div>
      <% end %>
    <% end %>
  </div>
  <% unless @recipe.description.blank? %>
    <div>
      <h1>
        <span class="recipe-title"><%= translated(@recipe.name) %></span>
      </h1>
      <div style="max-width: 600px;"><%= simple_format @recipe.description %></div>
      <% if user_signed_in? %>
        <%= link_to 'Ajouter à mes recettes', @recipe.source, class: "btn btn-outline-primary", style: "margin-top: 1rem;" %>
      <% end %>
      <!--<div style="margin-top: 1.5rem;">
        <%# render partial: "details_medium_version", locals: {recipe: @recipe} %>
      </div>-->
    </div>
  <% end %>
</div>

<% if user_signed_in? %>
  <% machine = current_user.machines.first_or_create %>
  <div class="collapse" id="calendar">
    <%= render partial: "meals/calendar", locals: {recipe: @recipe, machine: machine, meals: machine.meals.includes(:recipe) } %>
    <div style="height: 10px;"></div>
  </div>
<% end %>

<% if !alternatives.blank? && current_user_admin? %>
  <div style="font-size: 1.2rem; border-bottom: 1px solid black; padding-bottom: -0.1rem; margin-bottom: 0.5rem; width: 30rem;">Versions correspondantes: (<%= versions.size %> sur <%= versions.size %>) recettes</div>
  <div style="display: flex; gap: 10px; flex-wrap: wrap;">
    <div style="padding-top: 0.1rem; font-weight: bold;">
      Filtrer:
    </div>
    <div class="dropdown">
      <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dietMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Diète
      </button>
      <div class="dropdown-menu" aria-labelledby="dietMenuButton">
        <span class="dropdown-item cursor-pointer filter-add-green-diet-link">Végétarien</span>
        <span class="dropdown-item cursor-pointer filter-add-green-diet-link">Végane</span>
        <span class="dropdown-item cursor-pointer filter-add-green-diet-link">Kéto</span>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="withoutIngMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sans ingrédient
      </button>
      <div class="dropdown-menu" aria-labelledby="withoutIngMenuButton">
        <% @recipe.ingredients.each do |ing| %>
          <span class="dropdown-item cursor-pointer filter-add-red-ing-link"><%= ing.name %></span>
        <% end %>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="withIngMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Avec ingrédient
      </button>
      <div class="dropdown-menu" aria-labelledby="withIngMenuButton">
        <% @recipe.alternative_ingredients.each do |ing| %>
          <span class="dropdown-item cursor-pointer filter-add-green-ing-link"><%= ing.name %></span>
        <% end %>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="withoutToolMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sans outil
      </button>
      <div class="dropdown-menu" aria-labelledby="withoutToolMenuButton">
        <a class="dropdown-item" href="#">TODO</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="withToolMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Avec outil
      </button>
      <div class="dropdown-menu" aria-labelledby="withToolMenuButton">
        <a class="dropdown-item" href="#">TODO</a>
      </div>
    </div>
  </div>
  <style>
  .filter-green {
    background-color: #4eff33;
    border: 2px solid #38b325;
    padding: 0.2rem;
    border-radius: 5px;
    margin: 0px 2px;
    cursor: pointer;
  }
  .filter-red {
    background-color: #ff000055;
    border: 2px solid #ff0000;
    padding: 0.2rem;
    border-radius: 5px;
    margin: 0px 2px;
    cursor: pointer;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  </style>
  <div style="margin-top: 0.5rem; margin-bottom: 0.2rem;">
    <span>Filtres actifs: </span>
    <span id="active-filters">
      Aucun
    </span>
  </div>
<% end %>
  
<div class="recipe-body">
  
<div style="height: 1rem;"></div>

<style>
  .var-list {
    align-items: center;
    font-size: 1.2rem;
    background-color: #212529;
    width: 100%;
    height: 40px;
    display: flex;
  }
  .var-list > * {
    padding-left: 1rem;
    padding-right: 1rem;
    color: #ddd;
  }
  .var-list > *:hover {
    color: #bbb;
  }
</style>

<div class="var-list">
  <div style="color: white; font-weight: bold; width: 100%;">
    <span style="margin-right: 1rem;"><%= @recipe.name %></span>

    <% if alternatives.blank? %>
        <span class="btn btn-outline-secondary" style="padding: 0.1rem 0.4rem; background-color: #333; color: white; cursor: unset;">
          <%= "☆☆☆☆☆ (0)" %>
        </span>
    <% else %>
      <div class="dropdown inline">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="versionsMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 0.1rem 0.4rem; background-color: #333; color: white">
          <%= @recipe.pretty_version %>
        </button>
        <div class="dropdown-menu" aria-labelledby="versionsMenuButton">
          <% alternatives.each do |alternative| %>
            <%= link_to alternative.pretty_version, alternative, class: "dropdown-item" %>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if user_signed_in? %>
      <div style="float: right;">
        <div class="dropdown" style="display: inline-block; margin-left: 1rem;">
          <%= image_tag asset_path("list-white.svg"), "data-bs-toggle": "dropdown", style: "cursor: pointer;" %>
          <div class="dropdown-menu">
            <% if @recipe.owned_by?(current_user) %>
              <%= link_to 'Modifier', edit_recipe_path(@recipe), class: "dropdown-item" %>
            <% end %>
            <% unless @recipe.source.blank? %>
              <%= link_to 'Voir la source', @recipe.source, class: "dropdown-item" %>
            <% end %>
            <%= link_to "Créer une variation", new_variant_recipes_path(base_recipe_id: @recipe.id), class: "dropdown-item" %>
            <% if user_signed_in? and current_user.id == @recipe.user_id %>
              <%= form_with(model: @recipe, class: "inline", local: true) do |form| %>
                <%= form.hidden_field :is_public, value: !@recipe.is_public %>
                <% if @recipe.is_public %>
                  <%= form.submit "Make private", class: "dropdown-item" %>
                <% else %>
                  <%= form.submit "Make public", class: "dropdown-item" %>
                <% end %>
              <% end %>
            <% end %>
            <% user_recipe = @recipe.user_recipe_for(current_user) %>
            <% if user_signed_in? and user_recipe %>
              <%= link_to "Enlever de mes recettes", user_recipe, class: "dropdown-item", method: :delete, data: {confirm: 'Are you sure?'} %>
            <% else %>
              <%= form_with(model: UserRecipe.new, class: "inline") do |form| %>
                <%= form.hidden_field :recipe_id, value: @recipe.id %>
                <%= form.submit "Ajouter à mes recettes", class: "dropdown-item" %>
              <% end %>
            <% end %>
            <span data-bs-toggle="collapse" data-bs-target="#calendar" class="dropdown-item" style="cursor: pointer;">Ajouter à mon calendrier</span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%# if user_signed_in? %>
    <%# link_to "+", new_variant_recipes_path(base_recipe_id: @recipe.id), class: "nav-link" %>
  <%# end %>
</div>

<%= render partial: "details_inline_version", locals: {recipe: @recipe} %>

<div style="height: 1.5rem;"></div>
  <!-- TODO: Si un ingrédient se retrouve plusieurs fois dans la recette, afficher un avertissement et la quantité totale comme ça le monde peuvent savoir s'ils en ont assez -->
  
  <% unless @recipe.ingredients.blank? %>
    
    <!--<%# @recipe.ingredients.each do |ing| %>
      <%# next if ing.food.producing_recipes.blank? %>
      <%# r = ing.food.producing_recipes.first %>
      <h2 class="h2 toggle-link" data-toggle_id="sub_recipe_<%# r.id %>">+ Comment faire: <%# r.name %></h2>
      <div id="sub_recipe_<%# r.id %>" class="recipe-instructions" hidden>
        <%# pretty_complete_instructions(r) %>
      </div>
    <%# end %>
    -->

    <% foods_dup = @recipe.ingredients.group_by(&:food_id).reject {|f,s| s.size == 1}.map(&:first) %>
    
    <h2 class="h2">Ingrédients</h2>

    <div style="height: 0.5rem;"></div>

    <div id="ing_list">
      <ul class="list-group">
        <% @recipe.ingredients.order(:item_nb).each do |ing| %>
          <li class="list-group-item">
            <%= scalable_detailed_ingredient(ing) %><%# "*" if foods_dup.include?(ing.food_id) %>

            <div class="dropdown" style="display: inline-block; float: right">
               <%= image_tag asset_path("pencil-square.svg"), "data-bs-toggle": "dropdown", style: "cursor: pointer;" %>
              <div class="dropdown-menu">
                <a class="dropdown-item disabled" href="#">Retirer</a>
                <% unless ing.food.substitutions.blank? %>
                  <h6 class="dropdown-header">Remplacer par</h6>
                  <% ing.food.substitutions.each do |sub| %>
                    <a class="dropdown-item" href="#"><%= pretty_substitution(ing, sub) %></a>
                  <% end %>
                <% end %>
              </div>
            </div>
            <%# link_to image_tag(asset_path("pencil-square.svg")), "FIXME", style: "float: right;" %>
          </li>
        <% end %>
      </ul>

      <div style="height: 4px;"></div>

      <div style="margin-top: 0.25rem; text-align: center;">
        <div style="float: left;">
          <% val = @recipe.main_ingredient ? @recipe.main_ingredient.raw : '' %>
          <%= text_field_tag :quantity, pretty_ingredient_qty(@recipe.main_ingredient), class: "form-control", style: "width: 9rem; display: inline; text-align: right;", "data-quantity": val, id: "ingredient-qty-input-field" %>
          <%= collection_select :foo, :input_ingredient, @recipe.ingredients, :id, :name, {selected: @recipe.main_ingredient_id}, class: "form-select", id: "input-ingredients", style: "display: inline-block; width: auto;" %>
        </div>
        <%= image_tag asset_path("right_arrow.svg"), style: "width: 1.5rem;" %>
        <div style="float: right;">
          <%= image_tag(asset_path("minus-square.svg"), style: "cursor: pointer; width: 1.5rem;", id: "less-servings-button") %>
          <%= text_field_tag :servings, @recipe.servings, style: "width: 9rem; display: inline; text-align: right;", class: "form-control", id: "servings-input-field", "data-initial": @recipe.servings %>
          <%= image_tag(asset_path("plus-square.svg"), style: "cursor: pointer; width: 1.5rem;", id: "more-servings-button") %>
        </div>
      </div>
    </div>

    <% foods_dup.each do |dup| %>
      <br>
      <div>* <b><%= @recipe.ingredients.find_by(food_id: dup).food.name %></b> se retrouve plusieurs fois dans les ingrédients</div>
    <% end %>
  
  <% end %>

  <% unless @recipe.tools.blank? %> 
    <h2 class="h2" style="margin-top: 2rem;">Outils</h2>

    <ul style="font-size: 1.1rem;">
      <% @recipe.tools.order(:name).each do |tool| %>
        <li>
          <%= tool.name %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <h2 class="h2" style="margin-top: 2rem;">Instructions</h2>
  
  <div class="recipe-instructions">
  
    <%= pretty_complete_instructions(@recipe) %>
    <%# pretty_print_recipe(@recipe) %>
  </div>
  
  <% unless @recipe.similar_recipes.blank? %>
    <h2>Recettes similaires</h2>
  
    <h3><%= link_to translated(@recipe.similar_recipes.first.name), @recipe.similar_recipes.first %></h3>
    <%= pretty_print_recipe(@recipe.similar_recipes.first) %>
  <% end %>
  
  <h2 class="h2" style="margin-top: 2rem;">Commentaires</h2>

  <%# translated("Aucun commentaire pour l'instant.") %>
  <p>La section des commentaires n'est pas encore fonctionnelle. Pour toutes questions ou commentaires, vous pouvez me contacter à <%= mail_to "hedacuisine@gmail.com" %></p>

  <div style="height: 3rem;"></div>
</div>

<%# javascript_pack_tag "recipe" %>
<%= javascript_pack_tag "toggle_link" %>
<%= javascript_pack_tag "dropdown_submenu" %>
<%= javascript_pack_tag current_user ? "recipe_rating" : "recipe_rating_read_only" %>
<%= javascript_pack_tag "recipes_show" %>
