<% carrousel_id = 1 if local_assigns[:carrousel_id].nil? %>

<% unless recipes.blank? %>
  <% tag_id = 1 if local_assigns[:tag_id].nil? %>
  <% title = "" if local_assigns[:title].nil? %>

  <span style="font-size: 1.4rem; font-weight: bold;"><%= title %></span>
  
  
  <span id="prev-recipe-carrousel-<%= carrousel_id %>" class="my-tns-control"><%= image_tag icon_path("left_arrow.svg"), size: "15x15" %></span>
  <span id="next-recipe-carrousel-<%= carrousel_id %>" class="my-tns-control"><%= image_tag icon_path("right_arrow.svg"), size: "15x15" %></span>

  <div id="recipe-carrousel-<%= carrousel_id %>" class="recipe-carrousel" style="display: flex;">
    <% recipes.select(&:image).each do |recipe| %>
      <div class="recipe" style="width: 280px;">
        <%= link_to recipe_path(recipe) do %>
          <%= image_tag small_image_path(recipe.image), width: 255, height: 171 %>
          <div style="width: 255px; text-align: center; font-family: 'Satisfy', cursive; font-size: 1.8rem; color: black;">
            <%= recipe.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
