<% versions = recipe.recipe_kind ? recipe.recipe_kind.recipes : [] %>
<% page = versions.index(recipe) + 1 %>
<div style="min-height: 100vh;">
  <span style="font-size: 1.2rem;">
    (<span id="page-number"><%= page %></span> de <%= versions.count %>) recettes d'utilisateurs
    <span id="previous-container">
      <% if page == 1 %>
        <%= image_tag icon_path("chevron-left.svg"), style: "opacity: 0.5;" %>
      <% else %>
        <%= link_to image_tag(icon_path("chevron-left.svg")), recipe_path(versions[page-2]), id: "previous-recipe-link" %>
      <% end %>
    </span>
    <span id="next-container">
      <% if page == versions.count %>
        <%= image_tag icon_path("chevron-right.svg"), style: "opacity: 0.5;" %>
      <% else %>
        <%= link_to image_tag(icon_path("chevron-right.svg")), recipe_path(versions[page]), id: "next-recipe-link" %>
      <% end %>
    </span>
  </span>
  <button type="button" style="margin-left: 2em;" class="btn btn-sm btn-outline-secondary" data-bs-toggle="collapse" data-bs-target="#filter-collapse" aria-expanded="false" aria-controls="filterCollapse">Filter</button>
  <div class="collapse" id="filter-collapse">
    <% if current_user_admin? %>
      <div style="height: 0.5em;"></div>
      <div style="display: flex; gap: 10px; flex-wrap: wrap;">
        <div class="dropdown">
          <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dietMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Diète
          </button>
          <div class="dropdown-menu" aria-labelledby="dietMenuButton">
            <span class="dropdown-item cursor-pointer filter-add-green-diet-link">Végétarien</span>
            <span class="dropdown-item cursor-pointer filter-add-green-diet-link">Végane</span>
            <span class="dropdown-item cursor-pointer filter-add-green-diet-link">Kéto</span>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="withoutIngMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sans ingrédient
          </button>
          <div class="dropdown-menu" aria-labelledby="withoutIngMenuButton">
            <% recipe.ingredients.each do |ing| %>
              <span class="dropdown-item cursor-pointer filter-add-red-ing-link"><%= ing.name %></span>
            <% end %>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="withIngMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Avec ingrédient
          </button>
          <div class="dropdown-menu" aria-labelledby="withIngMenuButton">
            <% recipe.alternative_ingredients.each do |ing| %>
              <span class="dropdown-item cursor-pointer filter-add-green-ing-link"><%= ing.name %></span>
            <% end %>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="withoutToolMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sans outil
          </button>
          <div class="dropdown-menu" aria-labelledby="withoutToolMenuButton">
            <a class="dropdown-item" href="#">TODO</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="withToolMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Avec outil
          </button>
          <div class="dropdown-menu" aria-labelledby="withToolMenuButton">
            <a class="dropdown-item" href="#">TODO</a>
          </div>
        </div>
      </div>
      <div style="margin-top: 0.5rem; margin-bottom: 0.2rem;">
        <span>Filtres actifs: </span>
        <span id="active-filters">
          Aucun
        </span>
      </div>
    <% end %>
  </div>
  <div style="height: 0.2em;"></div>
  <div id="current-page">
    <div class="d-lg-flex gap-lg-20">
      <div>
        <%= render partial: "recipes/recipe_body", locals: {recipe: recipe} %>
      </div>
      <% if recipe.book %>
        <div style="width: 200px; font-size: 1.2em;">
          <div><b>Recette tiré du livre</b></div>
          <%= link_to recipe.book do %>
            <%= render partial: "books/title_page", locals: {book: recipe.book} %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_pack_tag "paginator" %>
