<% if @recipe.recipe_kind %>
  <%= render partial: @recipe.recipe_kind %>
<% end %>

<div style="height: 0.5em;"></div>

<% if @recipe.recipe_kind.blank? %>
  <%= render partial: "recipes/recipe_body", locals: {recipe: @recipe} %>
<% else %>
  <%= render partial: "recipes/recipe_pages", locals: {recipe: @recipe} %>
<% end %>

<div style="height: 1rem;"></div>

<%# javascript_pack_tag "recipe" %>
<%= javascript_pack_tag "toggle_link" %>
<%= javascript_pack_tag "dropdown_submenu" %>
<%= javascript_pack_tag current_user ? "recipe_rating" : "recipe_rating_read_only" %>
<%= javascript_pack_tag "recipes_show" %>
