<nav>
  <%= link_to 'Show', recipe_path(@recipe) %> |
  <% if current_user_admin? && @recipe.recipe_kind %>
    <%= link_to 'Edit recipe kind', edit_recipe_kind_path(@recipe.recipe_kind) %> |
  <% end %>
  <%= link_to 'Validate', validate_recipe_path(@recipe) %> |
  <%= link_to 'Process', do_process_recipe_path(@recipe), method: :patch %> |
  <%= link_to 'Cheat', cheat_recipe_path(@recipe), method: :patch %> |
  <%= link_to 'Fix ingredient numbers', 'TODO', method: :patch %> |
  <%= link_to 'Back', recipes_path %>
</nav>

<%# render partial: "modals/edit_recipe_image", locals: {recipe: @recipe} %>

<div id="recipe-editor">
  <div id="root"></div>
  <div style="height: 5em;"></div>
</div>

<%= javascript_pack_tag 'react_recipe_editor' %>
<%= stylesheet_pack_tag 'react_recipe_editor' %>
