<%= render partial: "recipes/tabs" %>

<%= link_to 'Show', recipe_path(@recipe) %> |
<%= link_to 'Process', do_process_recipe_path(@recipe), method: :patch %> |
<%= link_to 'Cheat', cheat_recipe_path(@recipe), method: :patch %> |
<%= link_to 'Fix ingredient numbers', 'TODO', method: :patch %> |
<%= link_to 'Back', recipes_path %>

<div class="responsive-above">
  <% if @recipe.image %>
    <div>
      <%= image_tag medium_image_path(@recipe.image), style: "margin-right: 20px;" %>
    </div>
  <% else %>
    <div style="width: 452px; height: 304px; border: 1px solid black;">
    </div>
  <% end %>
  <div>
    <h1 data-model="<%= @recipe.model_name.to_s.underscore %>" data-url="<%= recipe_path(@recipe) %>" data-update-column="name" class="recipe-title" contenteditable="true"><%= @recipe.name %></h1>
    <p data-model="<%= @recipe.model_name.to_s.underscore %>" data-url="<%= recipe_path(@recipe) %>" data-update-column="description" style="width: 600px;" contenteditable="true"><%= @recipe.description %></p>
    <div style="margin-top: 1.5rem;">
      <%= render partial: "details_medium_version", locals: {recipe: @recipe} %>
    </div>
  </div>
</div>
<%= form_with(model: @recipe, local: true) do |form| %>
  <b><%= form.label :image_id %></b>
  <%= form.number_field :image_id %>
  <%= form.submit "modifier" %>
<% end %>

<br>

<% @units = Unit.all %>

<h2 class="h2">Ingrédients</h2>

<span id="food-list" data-values="<%= Food.all.map(&:name) %>"/>
  
<div>
  <b>Recipe ingredients</b><br>
  <% if @recipe.recipe_ingredients.blank? %>
    Il n'y a pas encore d'ingrédients.
  <% else %>
    <ul class="list-group" style="max-width: 800px;" data-controller="drag" data-drag-base-url="<%= recipe_path(@recipe) %>">
      <% @recipe.recipe_ingredients.order(:item_nb).each do |ingredient| %>
        <%= render partial: "recipes/recipe_ingredient_update_form", locals: {recipe: @recipe, ingredient: ingredient} %>
      <% end %>
      <div hidden>
        <%# render partial: "recipes/recipe_ingredient_update_form", locals: {recipe: @recipe, ingredient: ingredient} %>
      </div>
    </ul>
  <% end %>
</div>

<button id="add-recipe-ingredient-form">Ajouter</button>

<%= render partial: "recipes/form_for_new_recipe_ingredient", locals: {recipe: @recipe} %>

<h2 class="h2">Détails</h2>

<%= form_with(model: @recipe, local: true) do |form| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% @recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <b><%= form.label :version_name %></b>
    <%= form.text_field :version_name %>
  </div>

  <div class="field">
    <b><%= form.label :source %></b>
    <%= form.text_field :source, size: 80 %>
  </div>
  
  <div class="field">
    <b><%= form.label :preparation_time %></b>
    <%= form.number_field :preparation_time %>
  </div>
  
  <div class="field">
    <b><%= form.label :cooking_time %></b>
    <%= form.number_field :cooking_time %>
  </div>
  
  <div class="field">
    <b><%= form.label :total_time %></b>
    <%= form.number_field :total_time %>
  </div>
  
  <div class="field">
    <b><%= form.label :raw_servings %></b>
    <%= form.text_field :raw_servings %>
  </div>
  
  <div class="field">
    <b><%= form.label :main_ingredient_id %></b>
    <%= form.collection_select :main_ingredient_id, @recipe.ingredients, :id, :name, include_blank: true %>
  </div>

  <br><br>
  <h2 class="h2">Instructions</h2>
  
  <span data-bs-toggle="collapse" data-bs-target="#show-help" class="btn btn-outline-primary">Afficher l'aide</span>
  <div id="show-help">
    <h2>Aide</h2>
    <h3>Instructions</h3>
    <ul>
      <li><b>#</b>: Commencer une ligne avec «#» pour chaque étape de la recette.</li>
      <li><b>$</b>: Commencer une ligne avec «$» pour un grand titre.</li>
      <li><b>$$</b>: Commencer une ligne avec «$$» pour un moyen titre.</li>
      <li><b>$$$</b>: Commencer une ligne avec «$$$» pour un petit titre.</li>
      <li><b>/</b>: Commencer une ligne avec «/» pour faire un paragraph en italique.</li>
      <li><b>{3}</b>: Afficher l'ingrédient 3</li>
      <li><b>{3-5}</b>: Afficher les ingrédients 3, 4 et 5</li>
      <li><b>{3,5}</b>: Afficher les ingrédients 3 et 5</li>
      <li><b>{3;}</b>: TODO: Afficher le nombre 3 qui scale avec la recette</li>
      <li><b>{3;pomme}</b>: TODO: Afficher la quantité 3 pomme qui scale avec la recette</li>
      <li><b>{2;pomme,3-5}</b>: TODO: Afficher la quantité 3 pomme qui scale avec la recette et les ingrédients 3, 4 et 5.</li>
      <li><b>[1]</b>: TODO: Lien vers la note 1</li>
      <li><b>[1;Section name]</b>: TODO: Lien vers la section de l'article</li>
    </ul>
  </div>

  <div class="field">
    <b><%= form.label :complete_instructions %></b><br>
    <%= form.text_area :complete_instructions, cols: 100, rows: 10 %>
  </div>
  
  <!--<div class="field">
    <b><%# form.label :instructions %></b><br>
    <%# form.text_area :instructions, cols: 100, rows: 10 %>
  </div>-->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%# javascript_pack_tag "recipe_editor.js" %>
<%# javascript_pack_tag "recipes_edit.js" %>
<%= javascript_pack_tag "recipes_edit" %>
