<%= link_to 'Show', recipe_path(@recipe) %> |
<%= link_to 'Process', do_process_recipe_path(@recipe), method: :patch %> |
<%= link_to 'Cheat', cheat_recipe_path(@recipe), method: :patch %> |
<%= link_to 'Fix ingredient numbers', 'TODO', method: :patch %> |
<%= link_to 'Back', recipes_path %>

<% @units = Unit.all %>

<h1>Editing <%= @recipe.name %></h1>

<span id="autocomplete-data" data-foods="<%= Food.all.map {|v| [v.id, v.name] } %>"/>
  
<div>
  <b>Recipe ingredients</b><br>
  <% if @recipe.recipe_ingredients.blank? %>
    Il n'y a pas encore d'ingrédients.
  <% else %>
    <table class="table table-striped table-sm w-auto">
      <thead>
        <tr>
          <th>#</th>
          <th>quantité</th>
          <th>ingredient</th>
          <th colspan="2"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @recipe.recipe_ingredients.order(:item_nb).each do |ingredient| %>
          <%= form_with(model: [@recipe, ingredient], local: true) do |form| %>
            <tr>
              <td><%= ingredient.item_nb %></td>
              <td><%= form.text_field :raw_quantity %></td>
              <td><%= link_to ingredient.food.name, ingredient.food %></td>
              <td><%= form.submit 'modifier' %></td>
              <td><%= link_to 'x', [@recipe, ingredient], method: :delete, data: {confirm: 'Are you sure?'} %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<%= form_with(model: [@recipe,RecipeIngredient.new], local: true) do |form| %>
  Qty: <%= form.text_field :raw_quantity %>
  Food: <%= form.text_field :food_name, id: "autocomplete-food", placeholder: "Food..." %>
  <%= form.hidden_field :food_id, id: "autocomplete-food-id" %>
  <%= form.submit "Ajouter" %>
<% end %>

<br><br>

<%= form_with(model: @recipe, local: true) do |form| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% @recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <b><%= form.label :name %></b>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <b><%= form.label :source %></b>
    <%= form.text_field :source, size: 80 %>
  </div>
  
  <div class="field">
    <b><%= form.label :image_id %></b>
    <%= form.number_field :image_id %>
  </div>
  
  <div class="field">
    <b><%= form.label :preparation_time %></b>
    <%= form.number_field :preparation_time %>
  </div>
  
  <div class="field">
    <b><%= form.label :cooking_time %></b>
    <%= form.number_field :cooking_time %>
  </div>
  
  <div class="field">
    <b><%= form.label :total_time %></b>
    <%= form.number_field :total_time %>
  </div>
  
  <div class="field">
    <b><%= form.label :raw_servings %></b>
    <%= form.text_field :raw_servings %>
  </div>

  <div class="field">
    <b><%= form.label :complete_instructions %></b><br>
    <%= form.text_area :complete_instructions, cols: 100, rows: 10 %>
  </div>
  
  <!--<div class="field">
    <b><%# form.label :instructions %></b><br>
    <%# form.text_area :instructions, cols: 100, rows: 10 %>
  </div>-->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%# javascript_pack_tag "recipe_editor.js" %>
<%= javascript_pack_tag "ingredient_editor" %>
