<%= render partial: "recipes/tabs" %>

<nav>
  <ul class="nav nav-pills" style="margin-bottom: 10px;">
    <span class="nav-item navbar-brand"><b>Mode</b></span>
    <%= link_to_active_if action_name == "edit", translated("Graphique"), edit_recipe_path(@recipe), class: "nav-item nav-link" %>
    <%= link_to_active_if action_name == "edit_text", translated("Texte"), edit_text_recipe_path(@recipe), class: "nav-item nav-link" %>
    <%= link_to_active_if action_name == "old_edit", translated("Classic"), old_edit_recipe_path(@recipe), class: "nav-item nav-link" %>
  </ul>
</nav>

<nav>
  <%= link_to 'Show', recipe_path(@recipe) %> |
  <%= link_to 'Validate', validate_recipe_path(@recipe) %> |
  <%= link_to 'Process', do_process_recipe_path(@recipe), method: :patch %> |
  <%= link_to 'Cheat', cheat_recipe_path(@recipe), method: :patch %> |
  <%= link_to 'Fix ingredient numbers', 'TODO', method: :patch %> |
  <%= link_to 'Back', recipes_path %>
</nav>

<div id="recipe-editor">

<div id="root"></div>

<div style="height: 5em;"></div>
</div>

<%= javascript_pack_tag 'react_recipe_editor' %>
<%= stylesheet_pack_tag 'react_recipe_editor' %>
<%# javascript_pack_tag 'quill_editor' %>
