<%= link_to 'Show', recipe_path(@recipe) %> |
<%= link_to 'Process', do_process_recipe_path(@recipe), method: :patch %> |
<%= link_to 'Cheat', cheat_recipe_path(@recipe), method: :patch %> |
<%= link_to 'Fix ingredient numbers', 'TODO', method: :patch %> |
<%= link_to 'Back', recipes_path %>

<h1>Editing <%= @recipe.name %></h1>

<span id="autocomplete-data" data-foods="<%= Food.all.map {|v| [v.id, v.name] } %>"/>

<div>
  <b>Ingredients</b><br>
  <% if @recipe.ingredients.blank? %>
    Il n'y a pas encore d'ingrédients.
  <% else %>
    <table class="table table-striped table-sm w-auto">
      <thead>
        <tr>
          <th>#</th>
          <th>ingredient</th>
          <th colspan="1"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @recipe.ingredients.each do |ingredient| %>
          <tr>
            <td><%= ingredient.nb %></td>
            <td><%= pretty_ingredient(ingredient) %></td>
            <td><%= link_to 'x', ingredient, method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<%= form_with(model: Ingredient.new, local: true) do |form| %>
  Qty: <%= text_field_tag :qty %>
  Food: <%= form.text_field :food_name, id: "autocomplete-food", placeholder: "Food..." %>
  <%= hidden_field_tag :recipe_id, @recipe.id %>
  <%= hidden_field_tag :food_id, nil, id: "autocomplete-food-id" %>
  <%= form.submit "Ajouter" %>
<% end %>

<br><br>

<%= form_with(model: @recipe, local: true) do |form| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% @recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b><%= form.label :name %></b>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <b><%= form.label :source %></b>
    <%= form.text_field :source, size: 80 %>
  </div>
  
  <div class="field">
    <b><%= form.label :complete_instructions %></b><br>
    <%= form.text_area :complete_instructions, cols: 100, rows: 10 %>
  </div>
  
  <div class="field">
    <b><%= form.label :instructions %></b><br>
    <%= form.text_area :instructions, cols: 100, rows: 10 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%# javascript_pack_tag "recipe_editor.js" %>
<%= javascript_pack_tag "ingredient_editor" %>
