<nav>
  <ul class="nav nav-pills" style="margin-bottom: 10px;">
    <span class="nav-item navbar-brand"><b>Mode</b></span>
    <%= link_to_active_if action_name == "edit", translated("Graphique"), edit_recipe_path(@recipe), class: "nav-item nav-link" %>
    <%= link_to_active_if action_name == "old_edit", translated("Classic"), old_edit_recipe_path(@recipe), class: "nav-item nav-link" %>
  </ul>
</nav>

<nav>
  <%= link_to 'Show', recipe_path(@recipe) %> |
  <% if current_user_admin? && @recipe.recipe_kind %>
    <%= link_to 'Edit recipe kind', edit_recipe_kind_path(@recipe.recipe_kind) %> |
  <% end %>
  <%= link_to 'Validate', validate_recipe_path(@recipe) %> |
  <%= link_to 'Process', do_process_recipe_path(@recipe), method: :patch %> |
  <%= link_to 'Cheat', cheat_recipe_path(@recipe), method: :patch %> |
  <%= link_to 'Fix ingredient numbers', 'TODO', method: :patch %> |
  <%= link_to 'Back', recipes_path %>
</nav>

<% if @recipe.recipe_kind %>
  <%= render partial: @recipe.recipe_kind %>
<% else %>
  <div style="display: flex; gap: 1em;">
    <div style="display: inline-block; border: 5px solid #aaa;">
      <svg xmlns="http://www.w3.org/2000/svg" width="452" height="304" fill="#aaa" class="bi bi-image" viewBox="0 0 16 16">
        <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
        <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
      </svg>
    </div>
    <div>
      <h2>Ajouter une image</h2>
      <p>Il n'est pas possible d'attribuer une image à une recette en particulier. Les images sont seulement attribué aux sortes de recettes. L'avantage est de pouvoir classifié les recettes et mieux les comparé. Par exemple, tarte aux fraises est une sorte de recette avec une image. La tarte aux fraises de tante Aline, quant-à-elle, est une recette de cette sorte.</p>
      <h2>Ajouter une sorte de recettes</h2>
      <p>Toutes les recettes qui ont une apparence ou une composition unique devraient avoir une sorte de recette unique.</p>
      <a class="btn btn-outline-primary" href="#recipe-kind">Modifier la sorte de recette</a>
    </div>
  </div>
<% end %>
<div style="height: 1em;"></div>

<div id="recipe-editor">
  <div id="root"></div>
  <div style="height: 5em;"></div>
</div>

<%= javascript_pack_tag 'react_recipe_editor' %>
<%= stylesheet_pack_tag 'react_recipe_editor' %>
