<%= render partial: "recipes/tabs" %>

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Acceuil", home_path %></li>
    <li class="breadcrumb-item"><%= link_to "Recettes", recipes_path %></li>
    <% if @recipe.kind %>
      <%= link_to @recipe.kind.name, @recipe.kind, class: "breadcrumb-item" %>
    <% end %>
    <li class="breadcrumb-item active" aria-current="page"><%= @recipe.name %></li>
  </ol>
</nav>

<%= content_for :title, @recipe.fullname + " - HedaCuisine" %>
<% description = description_recipe_ingredients(@recipe) %>
<%= content_for :description, description_recipe_ingredients(@recipe) %>
<%= content_for :og_tags do %>
  <meta property="og:title" content="<%= @recipe.fullname %>">
  <meta property="og:image" content="<%= prod_url(medium_image_path(@recipe.image)) %>" >
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= prod_url(request.original_fullpath) %>">
  <meta property="og:description" content="<%= description %>">
<% end %>

<span id="unit-list" data-values="<%= Unit.all.map {|u| u.attributes.slice('name', 'value', 'is_weight', 'is_volume', 'show_fraction')}.to_json %>"/>

<%= render partial: "recipes/recipe_full" %>
