<% if @recipe.owned_by?(current_user) %>
  <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
  <%= link_to 'Process', do_process_recipe_path(@recipe), method: :patch %> |
  <%= link_to 'Cheat', cheat_recipe_path(@recipe), method: :patch %> |
<% end %>
<%= link_to 'Back', recipes_path %>
<%# form_with(url: 'TODO', local: true, class: 'inline') do |form| %>
  <%# form.collection_select :unit_system, UnitSystem.all, :id, :name, selected: params[:unit_system_id], class: 'inline' %>
<%# end %>

<div class="responsive-margins-lg">
  <h1><%= @recipe.name %></h1>

  <div class="mb-2"><%= link_to @recipe.source, @recipe.source, style: "color: gray;" %></div>

  <% unless @recipe.ingredients.blank? %>
    <strong>Ingredients:</strong>
    <ul>
      <% @recipe.ingredients.each do |ingredient| %>
        <li>
          <% if ingredient.is_unitary? %>
            <%= pretty_fraction ingredient.nb_units %>
            <%= (ingredient.nb_units >= 2) ? ingredient.plural.downcase : ingredient.name.downcase %>
          <% else %>
            <%= pretty_volume(ingredient) %>
            <%= ingredient.name.downcase %>
            <%= pretty_base_unit(ingredient) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <strong>Instructions:</strong>
  <%= simple_format @recipe.instructions %>
  
  <br>
</div>

<%# javascript_pack_tag "recipe" %>
