<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Process', do_process_recipe_path(@recipe), method: :patch %> |
<%= link_to 'Back', recipes_path %> |
<%= select_tag "unit_system", raw("<option>(unité, g, mL)</option><option>(g, mL)</option><option>(unité, cc, cs, t)</option><option>(unité, cc, cs, t, mL)</option>") %>

<div class="responsive-margins-lg">
  <h1><%= @recipe.name %></h1>

  <% unless @recipe.ingredients.blank? %>
    <strong>Ingredients:</strong>
    <ul>
      <% @recipe.ingredients.each do |ingredient| %>
        <li><%= ingredient.name %></li>
      <% end %>
    </ul>
  <% end %>
  
  <strong>Instructions:</strong>
  <p>
    <%= simple_format @recipe.instructions %>
  </p>
  
  <br>
</div>
