<%= content_for :title, @recipe.fullname + " - HedaCuisine" %>
<% description = description_recipe_ingredients(@recipe) %>
<%= content_for :description, description_recipe_ingredients(@recipe) %>
<%= content_for :og_tags do %>
  <meta property="og:title" content="<%= @recipe.fullname %>">
  <meta property="og:image" content="<%= prod_url(medium_image_path(@recipe.image)) %>" >
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= prod_url(request.original_fullpath) %>">
  <meta property="og:description" content="<%= description %>">
<% end %>

<% if @recipe.recipe_kind %>
  <%= render partial: "kinds/breadcrumbs", locals: {leaf: @recipe.recipe_kind} %>
<% end %>

<%= render partial: "recipes/recipe_description_with_image", locals: {recipe: @recipe} %>

<div style="display: flex; gap: 30px;">
  <div>
    <%= render partial: "recipes/recipe_body", locals: {recipe: @recipe, hide_header: true} %>
  </div>
  <% if @recipe.recipe_kind %>
    <%= render partial: "recipe_kinds/bubble", locals: {recipe: @recipe, recipe_kind: @recipe.recipe_kind} %>
  <% end %>
</div>

<%# javascript_pack_tag "recipe" %>
<%= javascript_pack_tag "toggle_link" %>
<%= javascript_pack_tag "dropdown_submenu" %>
<%= javascript_pack_tag current_user ? "recipe_rating" : "recipe_rating_read_only" %>
<%= javascript_pack_tag "recipes_show" %>
