<style>
.subnav-link {
  display: block;
  padding: 0.35rem 0.7rem;
  font-size: 0.9rem;
}
.subnav-item {
  display: block;
  padding: 0.35rem 0.7rem;
  font-size: 0.9rem;
  font-weight: bold;
}
</style>

<div class="mx-n2">
  <ul class="nav nav-tabs">
    <li class="subnav-item"><%= translated("Catégories") %></li>
    <li class="nav-item dropdown">
      <a class="subnav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menus</a>
      <div class="dropdown-menu">
        <% if @recipe.menus.blank? %>
          <div class="dropdown-item" href="#">Ne se retrouve dans aucun menu.</div>
        <% else %>
          <% @recipe.menus.each do |menu| %>
            <%= link_to translated(menu.name), menu, class: "dropdown-item" %>
          <% end %>
        <% end %>
      </div>
    </li>
    <!--<li class="nav-item">
      <%# link_to "Nouvelle version", new_recipe_path(clone_id: @recipe.id), class: "subnav-link" %>
    </li>-->
  </ul>
</div>

<% if @recipe.owned_by?(current_user) %>
  <%= link_to 'Edit', edit_recipe_path(@recipe) %>
<% end %>
<%# form_with(url: 'TODO', local: true, class: 'inline') do |form| %>
  <%# form.collection_select :unit_system, UnitSystem.all, :id, :name, selected: params[:unit_system_id], class: 'inline' %>
<%# end %>

<div class="responsive-margins-lg">
  <h1>
    <%= translated(@recipe.name) %>
    <!--<span style="font-size: 1.5rem;"><%# "(#{@recipe.version_name})" if @recipe.version_name %></span>-->
  </h1>

  <div class="mb-2"><%= link_to @recipe.source, @recipe.source, style: "color: gray;" if @recipe.source %></div>

  <!-- TODO: Si un ingrédient se retrouve plusieurs fois dans la recette, afficher un avertissement et la quantité totale comme ça le monde peuvent savoir s'ils en ont assez -->

  <% unless @recipe.ingredients.blank? %>

    <h3>Recette</h3>

    <div class="recipe-instructions">

      <h2><%= translated(@recipe.name) %></h2>

      <%= pretty_complete_instructions(@recipe) %>
      <%# pretty_print_recipe(@recipe) %>
    </div>

  <% end %>

  <% unless @recipe.similar_recipes.blank? %>
    <h2>Recettes similaires</h2>

    <h3><%= link_to translated(@recipe.similar_recipes.first.name), @recipe.similar_recipes.first %></h3>
    <%= pretty_print_recipe(@recipe.similar_recipes.first) %>
  <% end %>

  <br>

</div>

<%# javascript_pack_tag "recipe" %>
<%= javascript_pack_tag current_user ? "recipe_rating" : "recipe_rating_read_only" %>
