<%= render partial: "recipes/tabs" %>

<div style="display: inline-block;"></div>
<% user_recipe = @recipe.user_recipe_for(current_user) %>
<% if user_signed_in? and user_recipe %>
  <%= button_to "Enlever de mes recettes", user_recipe, class: "btn btn-outline-primary", method: :delete, data: {confirm: 'Are you sure?'}, form: {style: 'display:inline-block;'} %>
<% else %>
  <%= form_with(model: UserRecipe.new, class: "inline") do |form| %>
    <%= form.hidden_field :recipe_id, value: @recipe.id %>
    <%= form.submit "Ajouter à mes recettes", class: "btn btn-outline-primary" %>
  <% end %>
<% end %>
<button type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Ajouter à mon calendrier
</button>
<div style="height: 10px;"></div>
<% if user_signed_in? %>
  <% machine = current_user.machines.first_or_create %>
  <div class="collapse" id="collapseExample">
    <%= render partial: "meals/calendar", locals: {recipe: @recipe, machine: machine, meals: machine.meals.includes(:recipe) } %>
    <div style="height: 10px;"></div>
  </div>
<% end %>

<style>
.subnav-link {
  display: block;
  padding: 0.35rem 0.7rem;
  font-size: 0.9rem;
}
.subnav-item {
  display: block;
  padding: 0.35rem 0.7rem;
  font-size: 0.9rem;
  font-weight: bold;
}
table {
  width: 100%;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}
td {
  border: 1px solid #eaeaea;
  padding: 0.50rem 0.00rem;
  padding-left: 1rem;
}

table { border-collapse: separate; border-spacing: 0; }
tr:first-child td:first-child { border-top-left-radius: 5px; }
tr:first-child td:last-child { border-top-right-radius: 5px; }
tr:last-child td:first-child { border-bottom-left-radius: 5px; }
tr:last-child td:last-child { border-bottom-right-radius: 5px; }
</style>

<!--<div class="mx-n2">
  <ul class="nav nav-tabs">
    <li class="subnav-item"><%# translated("Catégories") %></li>
    <%# @recipe.categories.reject {|c| c.menu.listing_id.nil? }.each do |category| %>
      <li class="subnav-item">
        <%# link_to "#{translated category.menu.name}/#{translated category.name}", category.menu %>
      </li>
    <%# end %>
    <li class="nav-item">
      <%# link_to "Nouvelle version", new_recipe_path(clone_id: @recipe.id), class: "subnav-link" %>
    </li>
  </ul>
</div>-->

<% if @recipe.owned_by?(current_user) %>
  <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
  <%= link_to 'Ajouter à mes recettes', user_recipes_path(user_recipe: {recipe_id: @recipe.id}), method: :post %>
<% end %>
<%# form_with(url: 'TODO', local: true, class: 'inline') do |form| %>
  <%# form.collection_select :unit_system, UnitSystem.all, :id, :name, selected: params[:unit_system_id], class: 'inline' %>
<%# end %>

<div class="row" style="margin-bottom: 10px;">
  <div class="col-m-6">
    <% if @recipe.image_id %>
      <%= image_tag "/images/#{@recipe.image_id}_m.jpg", style: "margin-right: 20px;" %>
    <% end %>
  </div>
  <div class="col-m-6">
    <h1 class="recipe-title">
      <%= translated(@recipe.name) %>
      <!--<span style="font-size: 1.5rem;"><%# "(#{@recipe.version_name})" if @recipe.version_name %></span>-->
    </h1>
    <div class="mb-2" style="margin-top: -1.2em; font-size: 0.8em;">
      <% unless @recipe.source.blank? %>
        Inspiration:
        <%= link_to @recipe.source, @recipe.source, style: "color: gray;" %>
      <% end %>
    </div>
    <div style="margin-top: 1.5rem;">
      <%= render partial: "details_medium_version", locals: {recipe: @recipe} %>
    </div>

  </div>
</div>

<div class="recipe-body">
  <!-- TODO: Si un ingrédient se retrouve plusieurs fois dans la recette, afficher un avertissement et la quantité totale comme ça le monde peuvent savoir s'ils en ont assez -->
  
  <% unless @recipe.ingredients.blank? %>
    
    <!--<%# @recipe.ingredients.each do |ing| %>
      <%# next if ing.food.producing_recipes.blank? %>
      <%# r = ing.food.producing_recipes.first %>
      <h2 class="h2 toggle-link" data-toggle_id="sub_recipe_<%# r.id %>">+ Comment faire: <%# r.name %></h2>
      <div id="sub_recipe_<%# r.id %>" class="recipe-instructions" hidden>
        <%# pretty_complete_instructions(r) %>
      </div>
    <%# end %>
    -->
    
    <h2 class="h2 toggle-link" data-toggle-id="ing_list">+ Liste d'ingrédients</h2>

    <table id="ing_list" style="margin-top: -8px; margin-bottom: 8px;" hidden>
      <tbody>
        <% @recipe.ingredients.order(:item_nb).each do |ing| %>
          <tr>
            <td style="border-right: 0;">
              <%= pretty_ingredient(ing) %>
            </td>
            <td>
              <%= pretty_volume_with_metric(ing) %>
            </td>
            <td>
              <%= pretty_weight(ing.weight) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  
  <% end %>
    
  <h2 class="h2" style="margin-top: 2rem;">Instructions</h2>
  
  <div class="recipe-instructions">
  
    <%= pretty_complete_instructions(@recipe) %>
    <%# pretty_print_recipe(@recipe) %>
  </div>
  
  <% unless @recipe.similar_recipes.blank? %>
    <h2>Recettes similaires</h2>
  
    <h3><%= link_to translated(@recipe.similar_recipes.first.name), @recipe.similar_recipes.first %></h3>
    <%= pretty_print_recipe(@recipe.similar_recipes.first) %>
  <% end %>
  
  <h2 class="h2" style="margin-top: 2rem;">Commentaires</h2>

  <%= translated("Aucun commentaire pour l'instant.") %>
</div>

<br>

<%# javascript_pack_tag "recipe" %>
<%= javascript_pack_tag "toggle_link" %>
<%= javascript_pack_tag current_user ? "recipe_rating" : "recipe_rating_read_only" %>
