<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Process', do_process_recipe_path(@recipe), method: :patch %> |
<%= link_to 'Back', recipes_path %> |
<%= form_with(url: 'TODO', local: true, class: 'inline') do |form| %>
  <%= form.collection_select :unit_system, UnitSystem.all, :id, :name, class: 'inline' %>
<% end %>

<div class="responsive-margins-lg">
  <h1><%= @recipe.name %></h1>

  <% unless @recipe.ingredients.blank? %>
    <strong>Ingredients:</strong>
    <ul>
      <% @recipe.ingredients.each do |ingredient| %>
        <% unit = current_unit_system.unit_for(ingredient.food) %>
        <li>
          <%= pretty_ingredient_value ingredient, unit %>
          <%= unit.name if unit and not unit.is_unitary? %>
          <%= ingredient.name %>
        </li>
      <% end %>
    </ul>
  <% end %>
  
  <strong>Instructions:</strong>
  <p>
    <%= simple_format @recipe.instructions %>
  </p>
  
  <br>
</div>
