<style>
.subnav-link {
  display: block;
  padding: 0.35rem 0.7rem;
  font-size: 0.9rem;
}
.subnav-item {
  display: block;
  padding: 0.35rem 0.7rem;
  font-size: 0.9rem;
  font-weight: bold;
}
</style>


<div id="versions-slider">
  <% @group.recipes.each do |recipe| %>

    <div>
      <ul class="nav nav-tabs">
        <li class="subnav-item"><%= @group.name %></li>
        <li class="nav-item dropdown">
          <a class="subnav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menus</a>
          <div class="dropdown-menu">
            <% if recipe.menus.blank? %>
              <div class="dropdown-item" href="#">Ne se retrouve dans aucun menu.</div>
            <% else %>
              <% recipe.menus.each do |menu| %>
                <%= link_to menu.name, menu, class: "dropdown-item" %>
              <% end %>
            <% end %>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to "Nouvelle version", new_recipe_path(clone_id: recipe.id), class: "subnav-link" %>
        </li>
      </ul>
      
      <% if recipe.owned_by?(current_user) %>
        <%= link_to 'Edit', edit_recipe_path(recipe) %> |
        <%= link_to 'Process', do_process_recipe_path(recipe), method: :patch %> |
        <%= link_to 'Cheat', cheat_recipe_path(recipe), method: :patch %> |
      <% end %>

      <div style="display: flex; align-items: center; justify-content: center;">
        <div>
          <h1>
            <%= recipe.name %>
            <span style="font-size: 1.5rem;"><%= "(#{recipe.version_name})" if recipe.version_name %></span>
          </h1>

          <div>
            <%= link_to recipe.source, recipe.source, style: "color: gray;" if recipe.source %>
          </div>
          <div>
            <%= render partial: 'recipes/rating', locals: {recipe: recipe} %>
          </div>

          <div class="mt-3">
            <strong>Ingredients:</strong>
            <ul>
              <% recipe.ingredients.each do |ingredient| %>
                <li>
                  <% if ingredient.is_unitary? %>
                    <%= pretty_fraction ingredient.nb_units %>
                    <%= (ingredient.nb_units >= 2) ? ingredient.plural.downcase : ingredient.name.downcase %>
                  <% else %>
                    <%= pretty_volume(ingredient) %>
                    <%= ingredient.name.downcase %>
                    <%= pretty_base_unit(ingredient) %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
      
          <!--<strong>Instructions:</strong>-->
          <%# simple_format recipe.instructions %>
          
          <br>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= javascript_pack_tag current_user ? "recipe_rating" : "recipe_rating_read_only" %>
<%= javascript_pack_tag "versions_slider" %>
