<p id="notice"><%= notice %></p>

<h1>Food Tags</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @food_tags.each do |food_tag| %>
      <tr>
        <td><%= food_tag.name %></td>
        <td><%= link_to 'Show', food_tag %></td>
        <td><%= link_to 'Edit', edit_food_tag_path(food_tag) %></td>
        <td><%= link_to_delete 'Destroy', food_tag, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Food Tag', new_food_tag_path %>
