<%= content_for :title, "HedaCuisine - Acceuil" %>
<%= content_for :description, "Le site officiel de Heda, le robot garde manger. Apprenez-en d'avantages et découvrez des recettes qu'il vous aide à cuisiner." %>

<h2>Livres en vedettes</h2>

<div style="display: flex; gap: 20px;">
  <% @books.each do |book| %>
    <%= link_to book do %>
      <%= render partial: "books/title_page_thumbnail", locals: {book: book} %>
    <% end %>
  <% end %>
</div>

<br>
<h2>Recettes en vedettes</h2>

<% @kinds_by_categories.each do |(kind, recipe_kinds)| %>
  <div style="height: 250px;">
    <%= render partial: "recipes/recipe_carrousel", locals: {title: link_to(kind.name, kind, style: "color: black;"), recipes: recipe_kinds, carrousel_id: kind.id} %>
  </div>
<% end %>

<%= javascript_pack_tag "recipe_slider_pack_v2" %>
