<style>
  .home-section {
    margin-top: 8rem;
    margin-bottom: 8rem;
    font-size: 1.5rem;
  }
  .home-section > div > h2 {
    font-size: 3rem;
    font-weight: bold;
  }
  .know-more {
    color: grey;
  }
</style>

<div class="responsive-margins-lg">

  <div style="position: relative;">
    <%= image_tag asset_path("open_cupboard.jpg"), style: "height: 95vh; margin: auto; display: block;" %>
    <div style="position:absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: rgba(0,0,0,0.5); border-radius: 10px; text-align: center; padding: 1rem;">
      <h1 style="font-size: 3rem; color: #f0f0f0; text-shadow: 2px 2px 4px white, 1px 1px 2px white;">Heda</h1>
      <div style="margin-top: -0.8rem; font-size: 2rem; color: #eee; text-shadow: 1px 1px 2px white;">
        Un robot garde-manger
      </div>
      <!--<div style="margin: auto; font-size: 1.5rem; border-radius: 5px; width: 12rem; background-color: orange; color: white; text-shadow: none; margin-top: 1rem;">
        Voir la vidéo 
      </div>-->
    </div>
  </div>
  
  <div class="home-section row" style="margin-top: 2rem;">
    <div class="col-sm-8">
      <h2>Un robot garde-manger c'est...</h2>
      <p>
      Une toute nouvelle invention! L'idée est d'avoir une armoire intelligente qui incorpore un bras robotique pour s'occuper de l'inventaire et aider à cuisiner.
      </p>
    </div>
    <div class="col-sm-4">
    </div>
  </div>

  <div class="home-section row">
    <%= image_tag asset_path("closed_cupboard.jpg"), class: "col-sm-4" %>
    <div class="col-sm-8">
      <h2>Une armoire de cuisine intelligente</h2>
      <p>Le bras robotique pèse les ingrédients après chaque utilisations. Il peut ainsi gérer la liste d'épicerie automatiquement selon vos habitudes et l'inventaire.</p>
      <%# link_to "En savoir plus...", ecological_path, class: "know-more" %>
    </div>
  </div>

  <div class="home-section row" style="margin-top: 2rem;">
    <div class="col-sm-8">
      <h2>Un aide-cuisinier personnel</h2>
      <p>
      Heda sors les ingrédients de la recette et portionne les quantités nécessaires. Éventuellement, elle pourra même faire tremper, couper et mélanger des aliments.
      </p>
      <%# link_to "En savoir plus...", "TODO", class: "know-more" %>
    </div>
    <%= image_tag asset_path("hand_mixer.jpg"), class: "col-sm-4" %>
  </div>

  <div class="home-section row">
    <%= image_tag asset_path("ecologic.png"), class: "col-sm-4" %>
    <div class="col-sm-8">
      <h2>Écologique</h2>
      <p>Heda suggère des recettes pour utiliser les aliments qui sont près d'être périmé pour éviter le gaspillage alimentaire. Aussi, elle cuisine surtout de la nourriture qui peut s'acheter en vrac pour favoriser le zéro-déchet.</p>
      <%# link_to "En savoir plus...", ecological_path, class: "know-more" %>
    </div>
  </div>
  
  <div class="home-section">
    <div>
      <h2>Une bibliothèque de recettes gratuites</h2>

      <p>Ce site internet receuille des recettes que Heda vous aide à cuisiner. Explorez ce qu'elle peut faire par vous-même dans l'onglet <%= link_to "Recettes", recipes_path %>!</p>
      
      <%= render file: "/recipes/_recipe_carrousel", locals: {title: "Dernières recettes ajoutées", recipes: Recipe.all_public.limit(10)} %>
    </div>
  </div>
  
  <!--<div class="home-section row">
    <div class="col-sm-4" style="background-color:pink;">
      <p>Image avec des logos de truc open-source que j'utilise. Et Open-source écrit en bas de l'image.</p>
    </div>
    <div class="col-sm-8">
      <h2>Open source</h2>
      <p>Heda est vendu sous forme de kit à assembler. Toute la documentation pour en fabriquer une est disponible librement et gratuitement. Vous pouvez lire le code et le modifier à votre guise.
      </p>
    </div>
  </div>
  
  
  <div class="home-section row">
    <div class="col-sm-8">
      <h2>Sauver du temps</h2>
      <ul>
        <li>Les gens passents en moyenne combien de temps à cuisiner dans leur vie?</li>
        <li>Estimer combien de temps ça sauve avec cette machine</li>
      </ul>
    </div>
    <div class="col-sm-4" style="background-color:pink;">
      <p>Image</p>
    </div>
  </div>
  
  <div class="home-section row">
    <div class="col-sm-4" style="background-color:pink;">
      <p>Image</p>
    </div>
    <div class="col-sm-8">
      <h2>Économisez de l'argent</h2>
      <p>
        En plus d'etre écologique, cuisiner des aliments primaires représente un autre avantage énorme: c'est économique! Un Canadien moyen pourrait économiser **1434$** par année **(1)**, principalement, parce que le prix des aliments transformés est souvent grandement supérieur aux aliments de base.
      </p>
    </div>
  </div>

  <div class="home-section row" style="margin-top: 2rem;">
    <div class="col-sm-8">
      <h2>Missing</h2>
      <ul>
        <li>Recommendations de recettes avec ce que vous avez sous la main</li>
      </ul>
      <h2>Cuisiner des produits de bases</h2>
      <p>Heda simplifie la cuisine d'ingrédients de base. Au lieu d'acheter des aliments transformés avec des ingrédients que vous ne savez pas prononcé, c'est tellement simple de les faire maisons à la place. Par exemple, faire de la mayonnaise prends 30 secondes. Et c'est bien meilleur!</p>
  <p>Vous pouvez aussi vous <%# link_to "connecter", new_user_session_path %> ou vous <%# link_to "inscrire", new_user_session_path %> pour gérer vos propres listes de recettes!</p>
    </div>
    <div class="col-sm-4" style="background-color:pink;">
      <p>Image de l'application inventaire automatique</p>
    </div>
  </div>
-->

</div>

<%= javascript_pack_tag "recipe_slider_pack_v2" %>

<footer style="margin-top: 30rem;">
  <small style="margin-left: 1rem;">&copy; Copyright <%= Date.current.year%>, Heda</small>
</footer>
