<div>
  <div style="font-size: 1.2em; background-color: #ccc; padding: 0.25em; padding-left: 0.5em;"><b>Recette tiré du livre</b></div>
  <div style="font-size: 1.1em; background-color: #eee; padding: 0.5em;">
    <div class="d-block d-sm-flex gap-20">
      <%= link_to book do %>
        <%= render partial: "books/title_page", locals: {book: book} %>
      <% end %>
      <div>
        <%= link_to book do %>
          <h2 class="text-black"><%= book.name %></h2>
        <% end %>
        <div style="max-width: 600px">
          <%= my_sanitize(book.description_html) %>
        </div>
        <%= link_to book do %>
          <button class="btn btn-outline-primary">Voir les recettes</button>
        <% end %>
        <button type="button" class="btn btn-outline-primary" data-book-search-toggle="true"><%= image_tag icon_path("search_blue.svg"), size: "20x20" %></button>
      </div>
    </div>
  </div>
</div>
