<% key = 1 if local_assigns[:key].nil? %>

<% unless list.blank? %>

  <% unless local_assigns[:title].nil? %>
    <span style="font-size: 1.4rem; font-weight: bold;"><%= title %></span>
  <% end %>

  <div class="position-limbo" style="z-index: 10;">
    <span id="prev-carrousel-<%= key %>" style="left: 5px; top: 80px;" class="my-tns-control" aria-disabled='true'><%= image_tag icon_path("custom-chevron-left.svg"), size: "45x90" %></span>
    <span id="next-carrousel-<%= key %>" style="top: 80px; left: calc(100% - 50px);" class="my-tns-control"><%= image_tag icon_path("custom-chevron-right.svg"), size: "45x90" %></span>
  </div>

  <div id="carrousel-<%= key %>" class="book-carrousel d-flex gap-pad-20">
    <% list.each_with_index do |book, i| %>
      <div style="<%= i == list.size-1 ? "" : "padding-right: 1em;" %>">
        <%= link_to book do %>
          <%# render partial: "books/details", locals: {book: book} %>
          <%= render partial: "books/title_page", locals: {book: book, max_axis: :height} %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
