<style>
.book-sidebar {
  width: 200px;
  color: black;
  background-color: #f6f6f6;
  margin-right: 10px;
  padding: 10px;
  height: 100%;
}
.book-sidebar .book-author {
  font-size: 1.1em;
  text-align: center;
  margin-bottom: 1em;
}
.book-sidebar a {
  color: black;
}
</style>

<div class="book-sidebar">
  <% if controller_name == "books" and action_name == "show" %>
    <%= render partial: "books/title_page_thumbnail", locals: {book: book} %>
  <% else %>
    <%= link_to book do %>
      <%= render partial: "books/title_page_thumbnail", locals: {book: book} %>
    <% end %>
  <% end %>
  <div><%# image_tag icon_path("book.svg") %> <b>Table des matières</b></div>
  <ul style="list-style-type: none; padding-left: 0.5em;">
    <% book.items.each do |item| %>
      <% if item.is_a?(BookRecipe) && (item.recipe.is_public || @book.user_id == current_user_id) %>
        <li style="padding-left: 0.5em;">
          <%= link_to item.recipe.name, [book, item] %>
          <%= item.recipe.is_public ? '' : image_tag(icon_path("eye-slash.svg")) %>
        </li>
      <% elsif item.is_a? BookSection %>
        <li><b style="font-size: 0.97em;"><%= item.name %></b></li>
      <% end %>
    <% end %>
  </ul>
  <% if book.user_id == current_user_id %>
    <div>
      <%= link_to edit_book_path(book) do %>
        <%= image_tag icon_path("pencil.svg") %> Modifier
      <% end %>
    </div>
    <% if book.is_public %>
      <div><%= link_to book_path(book, book: {is_public: false}), method: :put do %>
        <%= image_tag icon_path("eye.svg") %> Rendre privé
      <% end %></div>
    <% else %>
      <div><%= link_to book_path(book, book: {is_public: true}), method: :put do %>
        <%= image_tag icon_path("eye.svg") %> Rendre public
      <% end %></div>
    <% end %>
  <% end %>
  <% if current_user_admin? %>
    <% if book.is_featured %>
      <div><%= link_to set_is_featured_book_path(book, is_featured: false), method: :patch do %>
        <%= image_tag icon_path("star-fill.svg") %> Enlever la vedette
      <% end %></div>
    <% else %>
      <div><%= link_to set_is_featured_book_path(book, is_featured: true), method: :patch do %>
        <%= image_tag icon_path("star.svg") %> Mettre en vedette
      <% end %></div>
    <% end %>
  <% end %>
  <!--<div><%# image_tag icon_path("share.svg") %> Partager</div>-->
  <!--<div><%# image_tag icon_path("download.svg") %> Télécharger</div>-->
  <!--<div><%# image_tag icon_path("printer.svg") %> Imprimer</div>-->
  <div style="height: 1em;"></div>
  <!--<div>À propos de l'auteur</div>
  <%# image_tag icon_path("image.svg"), width: "160px;", height: "160;" %>
  <div>de <%# book.author %></div>-->
</div>
