<style>
.book-sidebar {
  width: 200px;
  color: black;
  background-color: #f6f6f6;
  margin-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  height: 100%;
}
.book-sidebar .book-author {
  font-size: 1.1em;
  text-align: center;
  margin-bottom: 1em;
}
.book-sidebar a {
  color: black;
}
</style>
<%= render partial: 'themes/stylesheet', locals: {theme: book.theme} %>

<div class="book-sidebar">
  <% if controller_name == "books" and action_name == "show" %>
    <%= render partial: "books/title_page_thumbnail", locals: {book: book} %>
  <% else %>
    <%= link_to book do %>
      <%= render partial: "books/title_page_thumbnail", locals: {book: book} %>
    <% end %>
  <% end %>
  <div><%# image_tag icon_path("book.svg") %> <b>Table des matières</b></div>
  <ul style="list-style-type: none; padding-left: 0.5em;">
    <% book.items.each do |item| %>
      <% if item.is_a? BookRecipe %>
        <li style="padding-left: 0.5em;"><%= link_to item.recipe.name, [book, item] %></li>
      <% else %>
        <li><%= item.name %></li>
      <% end %>
    <% end %>
  </ul>
  <% if book.user_id == current_user_id %>
    <div>
      <%= link_to edit_book_path(book) do %>
        <%= image_tag icon_path("pencil.svg") %> Modifier
      <% end %>
    </div>
  <% end %>
  <div><%= image_tag icon_path("share.svg") %> Partager</div>
  <div><%= image_tag icon_path("download.svg") %> Télécharger</div>
  <div><%= image_tag icon_path("printer.svg") %> Imprimer</div>
  <div style="height: 1em;"></div>
  <!--<div>À propos de l'auteur</div>
  <%# image_tag icon_path("image.svg"), width: "160px;", height: "160;" %>
  <div>de <%# book.author %></div>-->
</div>
