<style>
.book-sidebar {
  width: 200px;
  color: black;
  background-color: #f6f6f6;
  margin-right: 10px;
  padding-left: 5px;
}
.book-sidebar .book-title {
  font-size: 1.5em;
  text-align: center;
}
.book-sidebar > div {
  font-size: 1.2em;
  font-weight: bold;
}
.book-sidebar a {
  color: black;
}
</style>

<div class="book-title"><%= book.name %></div>
<div>Table des matières</div>
<ul>
  <% book.book_recipes.each do |book_recipe| %>
    <li><%= link_to book_recipe.recipe.name, [book, book_recipe] %></li>
  <% end %>
</ul>
<% if book.user_id == current_user_id %>
  <div><%= link_to 'Modifier', edit_book_path(book) %></div>
<% end %>
<div>Partager</div>
<div>Imprimer</div>
<div>À propos de l'auteur</div>
<%= image_tag icon_path("image.svg"), width: "160px;", height: "160;" %>
<div>de <%= book.author %></diV>

