<style>
.book-sidebar {
  width: 200px;
  color: black;
  background-color: #f6f6f6;
  margin-right: 10px;
  padding-left: 5px;
}
.book-sidebar .book-title {
  font-size: 1.5em;
  text-align: center;
  margin-top: 0.2em;
}
.book-sidebar .book-author {
  font-size: 1.1em;
  text-align: center;
  margin-bottom: 1em;
}
.book-sidebar > div {
  font-size: 1.2em;
  font-weight: bold;
}
.book-sidebar a {
  color: black;
}
</style>

<div class="book-title"><%= book.name %></div>
<div class="book-author">de <%= book.author %></div>
<div><%# image_tag icon_path("book.svg") %> Table des matières</div>
<ul style="list-style-type: none; padding-left: 0.5em;">
  <% (book.book_recipes.to_a + book.book_sections.to_a).sort_by(&:position).each do |item| %>
    <% if item.is_a? BookRecipe %>
      <li style="padding-left: 0.5em;"><%= link_to item.recipe.name, [book, item] %></li>
    <% else %>
      <li><b><%= item.name %></b></li>
    <% end %>
  <% end %>
</ul>
<% if book.user_id == current_user_id %>
  <div>
    <%= link_to edit_book_path(book) do %>
      <%= image_tag icon_path("pencil.svg") %> Modifier
    <% end %>
  </div>
<% end %>
<div><%= image_tag icon_path("share.svg") %> Partager</div>
<div><%= image_tag icon_path("download.svg") %> Télécharger</div>
<div><%= image_tag icon_path("printer.svg") %> Imprimer</div>
<div style="height: 1em;"></div>
<!--<div>À propos de l'auteur</div>
<%# image_tag icon_path("image.svg"), width: "160px;", height: "160;" %>
<div>de <%# book.author %></div>-->

