<% if book.front_page_image %>
  <div class="page title-page"
  style="aspect-ratio: <%= book.page_aspect_ratio %>; background-size: cover; background-image: url(<%= image_variant_path(book.front_page_image, :small_book) %>);">
  </div>
<% else %>
  <div class="page title-page"
  style="aspect-ratio: <%= book.page_aspect_ratio %>; background-size: cover; background-image: url('/books/default01.jpg');">
    <div class="book-title"><span><%= book.name %></span></div>
    <div class="author">de <%= book.author %></div>
  </div>
<% end %>
