<h1>Nouveau livre de recette</h1>

<%= form_with(model: @book, local: true) do |form| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, size: 50 %>
  </div>

  <br>

  <div><b>Rendre le livre public ou privé?</b></div>
  <div class="field">
    <%= form.radio_button 'is_public', @book.is_public %>
    <%= form.label :is_public, 'Public', value: @book.is_public %>
    <%= form.radio_button 'is_public', !@book.is_public %>
    <%= form.label :is_public, 'Privé', value: !@book.is_public %>
  </div>
  <div>(Ce paramètre peut être modifié plus tard)</div>

  <br>
  <p>L'avantage de rendre le livre public est de pouvoir y avoir accès en tout temps sans avoir à se connnecter. De plus, cela permet de le partager avec vos proches.</p>
  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
