<h1>Nouveau livre de recette</h1>

<%= form_with(model: @book, local: true) do |form| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, size: 50 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<h2>Choisir un thème</h2>
<div style="display: flex; gap: 20px;">
  <% @themes.each do |theme| %>
    <%= render partial: 'themes/stylesheet', locals: {theme: theme} %>
    <%= link_to edit_theme_path(theme) do %>
      <% book = Book.new %>
      <% book.theme = theme %>
      <% book.name = "#{theme.name} theme" %>
      <% book.user = current_user %>
      <% book.theme = theme %>
      <%= render partial: "books/title_page_thumbnail", locals: {book: book} %>
    <% end %>
  <% end %>
</div>
