<div class="d-flex">
  <div id="book-sidebar" data-url="<%= search_data_book_path(@book, format: 'json')%>">
  </div>
  <div style="max-width: 900px; margin: auto;">
    <div style="width: fit-content; margin: auto;">
      <div>
        <br><br>
        <div class="d-block d-sm-flex gap-20 text-center text-sm-left">
        <% if @book.front_page_image && @book.front_page_image.original.attached? %>
          <%= image_tag image_variant_path(@book.front_page_image, :book), width: Image::VARIANTS[:book][:width], height: Image::VARIANTS[:book][:width].to_f/@book.front_page_image.aspect_ratio.to_f %>
        <% else %>
          <div style="display: flex; flex-direction: column; align-items: center; max-width: <%= Image::VARIANTS[:book][:width] %>px;">
            <%= image_tag "/books/default01.jpg", height: 516, width: Image::VARIANTS[:book][:width] %>
            <div><div style="transform: translate(0, -60px); color: black;">de <%= @book.author %></div></div>
            <div><div class="book-title"><b><%= @book.name %></b></div></div>
          </div>
        <% end %>
          <div>
            <div class="d-flex">
              <div class="flex-grow-1"></div>
              <h2 class="text-black"><%= @book.name %></h2>
              <%= render partial: "books/edit_menu", locals: {book: @book} %>
              <div class="flex-grow-1"></div>
            </div>
            <div style="max-width: 600px">
              <%= my_sanitize(@book.description_html) %>
            </div>
            <button type="button" class="btn btn-outline-primary" data-book-search-toggle="true"><%= image_tag icon_path("search_blue.svg"), size: "20x20" %></button>
          </div>
        </div>
        <br><br>
      </div>
    </div>
    <h1>Liste des recettes</h1>
    <hr>
    <div class="ms-sm-0" style="margin-left: 2em;">
      <% @book.book_recipes.where(book_section_id: nil).order(:position).each do |book_recipe| %>
        <%= render partial: "recipes/recipe", locals: {recipe: book_recipe.recipe, book: @book, book_recipe: book_recipe} %>
      <% end %>
      <% @book.book_sections.order(:position).each do |book_section| %>
        <h2 style="margin-top: 1em;"><%= book_section.name %></h2>
        <% book_section.book_recipes.order(:position).each do |book_recipe| %>
          <%= render partial: "recipes/recipe", locals: {recipe: book_recipe.recipe, book: @book, book_recipe: book_recipe} %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
  
<style>
@media screen and (max-width: 576px) {
  .recipe-details-small {
    max-width: 300px;
  }
}
</style>

<% content_for :import_js do %>
  <%= js_import_tag "book_sidebar" %>
<% end %>
