<% if @book.user_id == current_user.id %>
  <%= link_to 'Edit', edit_book_path(@book) %>
<% end %>

<%= render partial: 'themes/stylesheet', locals: {theme: @book.theme} %>

<div class="book <%= @book.theme.css_class %>">
  <%= render partial: "books/title_page", locals: {book: @book} %>
  <div class="page index-page">
    <h2>Liste des recettes</h2>
    <ul>
      <% @book.recipes.each do |recipe| %>
        <li><%= link_to recipe.name, "#recipe-body-#{recipe.id}" %></li>
      <% end %>
    </ul>
    <%= %>
  </div>
  <% @book.recipes.each do |recipe| %>
    <div class="page">
      <%= render partial: "recipes/recipe_body", locals: {recipe: recipe} %>
    </div>
  <% end %>
</div>
