<%= render partial: 'themes/stylesheet', locals: {theme: @book.theme} %>

<style>
.book-sidebar {
  width: 200px;
  color: black;
  background-color: #f6f6f6;
  margin-right: 10px;
  padding-left: 5px;
}
.book-sidebar > div {
  font-size: 1.2em;
  font-weight: bold;
}
.book-sidebar a {
  color: black;
}
</style>

<div style="display: flex;">
  <div class="book-sidebar">
    <% if @book.user_id == current_user_id %>
      <div><%= link_to 'Modifier', edit_book_path(@book) %></div>
    <% end %>

    <div>Table des matières</div>
    <ul>
      <% @book.recipes.each do |recipe| %>
        <li><%= link_to recipe.name, "#recipe-body-#{recipe.id}" %></li>
      <% end %>
    </ul>
    <div>Partager</div>
    <div>Imprimer</div>
  </div>
  <div class="book <%= @book.theme.css_class %>">
    <%= render partial: "books/title_page", locals: {book: @book} %>
  </div>
</div>
