<% recipe = nil unless defined?(recipe) %>

<%= month_calendar events: meals || [] do |date, meals| %>
  <div class="calendar-day" data-path="<%= daily_machine_meals_path(machine_id: machine.id, year: date.year, month: date.month, day: date.day)%>" style="cursor: pointer;" tabindex="1" data-year="<%= date.year %>" data-month="<%= date.month %>" data-day="<%= date.day %>"<%= " data-recipe-name=#{recipe.name}" if recipe %>>
    <div style="width: 100%; text-align: center;"><%= date.day %></div>
    <div style="min-height: 4rem;">
      <% meals.each do |meal| %>
        <div class="inner-link">
          <%= link_to meal.recipe.name, recipe_path(meal.recipe) %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% if recipe %>
  <%= form_with(model: [machine, Meal.new], local: false, id: "new_meal_form") do |form| %>
    <%= form.hidden_field :recipe_id, value: recipe.id %>
    <%= hidden_field_tag :year, nil, id: "new_meal_form_year" %>
    <%= hidden_field_tag :month, nil, id: "new_meal_form_month" %>
    <%= hidden_field_tag :day, nil, id: "new_meal_form_day" %>
  <% end %>
  <%= javascript_pack_tag "calendar_add_recipe" %>
<% else %>
  <%= javascript_pack_tag "calendar" %>
<% end %>
