<span id="autocomplete-data" data-recipes="<%= Recipe.all.map {|v| [v.id, v.fullname] } %>"/>

<%= form_with(model: [@machine, meal], local: true) do |form| %>
  <% if meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
        <% meal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :day, params[:day] %>
  <%= hidden_field_tag :month, params[:month] %>
  <%= hidden_field_tag :year, params[:year] %>

  <div class="field">
    <%= form.text_field :recipe_name, id: "autocomplete-search-recipe-1", class: 'autocomplete-search-recipe', placeholder: "Recette...", size: "40" %>
    <%= form.hidden_field :recipe_id, id: "autocomplete-search-recipe-1-id" %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.time_select :start_time, minute_step: 5 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= javascript_pack_tag "menu_editor" %>
