<%= form_with(model: container_format, local: true) do |form| %>
  <% if container_format.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(container_format.errors.count, "error") %> prohibited this container_format from being saved:</h2>

      <ul>
        <% container_format.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
