<%= render partial: 'meta/nav' %>

<h1>Ingrédients</h1>

<%= form_with(model: Food.new, local: true) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name, size: 15 %>
  <%= form.label :color %>
  <%= form.color_field :color_string %>
  <%= form.label :unit_weight %>
  <%= form.text_field :unit_weight, size: 3 %>
  <%= form.label :density %>
  <%= form.text_field :density, size: 3 %>
  <%= form.check_box :is_liquid %>
  <%= form.label :is_liquid %>
  <%= form.check_box :in_pantry %>
  <%= form.label :in_pantry %>
  <%= form.submit %>
<% end %>

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>Nom</th>
      <th>Pluriel</th>
      <th>Tag</th>
      <th>Col</th>
      <th>Poids unitaire</th>
      <th>Densité<br/>(g/mL)</th>
      <th>Liq</th>
      <th>Pantry</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @food_tags = FoodTag.all %>
    <% @foods.each do |food| %>
      <%= form_with(model: food) do |form| %>
        <tr>
          <% exp = food.expression.in(current_language) %>
          <td><%= link_to exp.try(:singular), food.expression %></td>
          <td><%= exp.try(:plural) %></td>
          <td><%= form.collection_select :food_tag_id, @food_tags, :id, :name, include_blank: true %></td>
          <td><%= form.color_field :color_string %></td>
          <td><%= form.number_field :unit_weight, step: 0.01, size: 3 %></td>
          <td><%= form.number_field :density, step: 0.01, size: 3 %></td>
          <td><%= form.check_box :is_liquid %></td>
          <td><%= form.check_box :in_pantry %></td>
          <td><%= form.submit "Mettre à jour" %></td>
          <td><%= link_to 'Show', food %></td>
          <td><%= link_to 'Destroy', food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
