<%= render partial: "recipes/tabs" %>

<%= content_for :title, @recipe.fullname + " - HedaCuisine" %>
<% description = description_recipe_ingredients(@recipe) %>
<%= content_for :description, description_recipe_ingredients(@recipe) %>
<%= content_for :og_tags do %>
  <meta property="og:title" content="<%= @recipe.fullname %>">
  <meta property="og:image" content="<%= prod_url(medium_image_path(@recipe.image)) %>" >
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= prod_url(request.original_fullpath) %>">
  <meta property="og:description" content="<%= description %>">
<% end %>

<div style="display: flex;">
  <div class="book-sidebar">
    <%= render partial: "books/sidebar", locals: {book: @book} %>
  </div>
  <div>
    <% if @recipe.recipe_kind %>
      <%= render partial: "kinds/breadcrumbs", locals: {leaf: @recipe.recipe_kind} %>
    <% end %>
    
    <% if user_signed_in? %>
      <% machine = current_user.machines.first_or_create %>
      <div class="collapse" id="calendar">
        <%= render partial: "meals/calendar", locals: {recipe: @recipe, machine: machine, meals: machine.meals.includes(:recipe) } %>
        <div style="height: 10px;"></div>
      </div>
    <% end %>
    
    <%= render partial: "recipes/recipe_full" %>
  </div>
</div>

