<%= content_for :title, @recipe.fullname + " - HedaCuisine" %>
<% description = description_recipe_ingredients(@recipe) %>
<%= content_for :description, description_recipe_ingredients(@recipe) %>
<%= content_for :og_tags do %>
  <meta property="og:title" content="<%= @recipe.fullname %>">
  <meta property="og:image" content="<%= prod_url(image_variant_path(@recipe.image, :medium)) %>" >
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= prod_url(request.original_fullpath) %>">
  <meta property="og:description" content="<%= description %>">
<% end %>

<div style="width: fit-content; margin: auto;">
  <%= render partial: "books/header", locals: {book: @book} %>
</div>
<hr style="margin-bottom: 0px;">
<div class="d-flex">
  <div>
    <%= render partial: "books/sidebar", locals: {book: @book} %>
  </div>
  <div>
    <%= render partial: "recipes/recipe_description_with_image", locals: {recipe: @recipe} %>
    
    <div class="d-block d-md-flex gap-30">
      <div>
        <%= render partial: "recipes/recipe_body", locals: {recipe: @recipe, hide_header: true} %>
      </div>
      <% if @recipe.recipe_kind %>
        <%= render partial: "recipe_kinds/bubble", locals: {recipe: @recipe, recipe_kind: @recipe.recipe_kind} %>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag "toggle_link" %>
<%= javascript_pack_tag "dropdown_submenu" %>
<%= javascript_pack_tag current_user ? "recipe_rating" : "recipe_rating_read_only" %>
<%= javascript_pack_tag "recipes_show" %>
