<div class="modal fade" id="edit-recipe-image-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <button style="float: right;" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h5 class="modal-title" id="add_image_modal_label">Aperçu</h5>
        <div>
          <%= render partial: recipe.image, locals: {variant: :small} if recipe.image %>
        </div>
        <hr>
        <%= form_with(url: update_image_recipe_path(recipe), local: false, id: 'edit-recipe-image-form') do |form| %>
          <%= radio_button_tag 'recipe[use_personalised_image]', false, recipe.use_personalised_image.blank? %>
          <%= label_tag 'recipe_use_personalised_image_false', "Utliser l'image de la catégorie de cette recette" %>
          <div style="padding-left: 2em;">
            <% unless recipe.recipe_kind %>
              <p>Nous n'avons pas ou nous n'avons pas encore trouvé de catégorie pour cette recette pour l'instant.</p>
            <% end %>
            <br>
          </div>
          <%= radio_button_tag 'recipe[use_personalised_image]', true, recipe.use_personalised_image == true %>
          <%= label_tag 'recipe_use_personalised_image_true', "Utiliser une image personnalisée" %>
          <div style="padding-left: 2em;">
            <div style="height: 0.5em;"></div>
            <%= file_field_tag 'image[original]', value: recipe.image.original %>
            <div style="height: 0.5em;"></div>
            <%= radio_button_tag 'image[user_is_author]', true %>
            <%= label_tag 'image_user_is_author_true', "Je suis l'auteur de cette image", value: true %>
            <div style="height: 0.5em;"></div>
            <%= radio_button_tag 'image[user_is_author]', false %>
            <%= label_tag 'image_user_is_author_false', "L'image est publique sous une license qui permet son usage", value: false %>
            <div style="height: 0.5em;"></div>
            <div style="padding-left: 2em;">
              <%= label_tag :author %>
              <%= text_field_tag :author, recipe.recipe_image ? recipe.recipe_image.author : nil%>
              <div style="height: 0.5em;"></div>
              <%= label_tag :source %>
              <%= text_field_tag :source, recipe.recipe_image ? recipe.recipe_image.source : nil %>
            </div>
            <br>
          </div>
          <br>
          <div class="actions">
            <%= submit_tag "Modifier", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
window.addEventListener("load", () => {
  //const form = document.querySelector("#edit-recipe-image-form");
  //form.addEventListener("ajax:success", (event) => {
  //  const [data, status, xhr] = event.detail;
  //  console.log('AJAX success')
  //  if (form.onImageCreate) {
  //    form.onImageCreate(JSON.parse(xhr.responseText))
  //  }
  //});
  
  //form.addEventListener("ajax:error", () => {
  //  form.insertAdjacentHTML("beforeend", "<p>ERROR</p>");
  //});
  const isUserAuthor = document.querySelector("#is-user-author-checkbox");
  isUserAuthor.addEventListener("change", (event) => {
    const creditFields = document.querySelector("#author_credit_fields");
    creditFields.classList.toggle("disabled");
  });
});
</script>
