<% @containers = machine.containers.includes(:container_ingredients).order(:jar_id) %>
<% @container_formats = ContainerFormat.all %>

<h3>Add a container</h3>
<%= form_with(model: [@machine, Container.new], local: true) do |form| %>
  <%= form.label :jar_id %>
  <%= form.text_field :jar_id %>
  <%= form.hidden_field :machine_id, value: machine.id %>
  <%= form.label :container_format_id %>
  <%= form.collection_select :container_format_id, ContainerFormat.all, :id, :name, include_blank: true %>
  <%= form.submit %>
<% end %>

<table class="table table-striped table-sm">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Jar format</th>
      <th>Content</th>
      <th>Filled</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @containers.each do |container| %>
      <%= form_with(model: [@machine, container], local: true) do |form| %>
        <tr>
          <td><%= link_to container.jar_id, [@machine, container] %></td>
          <td><%= form.collection_select :container_format_id, @container_formats, :id, :name, include_blank: true %></td>
          <td><%= container.ingredients.map(&:food).map(&:name).join(", ") %></td>
          <td></td>
          <td><%= container.pretty_position %></td>
          <td><%= form.submit "Mettre à jour" %></td>
          <td><%= link_to 'Show', [@machine, container] %></td>
          <td><%= link_to 'Destroy', [@machine, container], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
