<h3>Add a food</h3>
<%= form_with(model: [@machine, MachineFood.new], local: true) do |form| %>
  <%= form.label :food_id %>
  <%= form.collection_select :food_id, Food.where(in_pantry: true), :id, :name %>
  <%= form.submit %>
<% end %>

<table class="table table-striped table-sm">
  <thead class="thead-dark">
    <tr>
      <th>Food</th>
      <th>Full</th>
      <th>Grocery</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <% @container_formats = ContainerFormat.where.not(icon: [nil, '']).order(volume: :desc) %>

  <tbody>
    <% machine.machine_foods.includes(:container_quantities, :food, container_quantities: :container_format).each do |machine_food| %>
      <%= form_with(model: [@machine, machine_food], local: true) do |form| %>
        <tr>
          <td style="vertical-align: middle;"><%= link_to machine_food.food.name.capitalize, machine_food.food %></td>
          <td>
            <% machine_food.container_quantities.each do |container_quantity| %>
              <span style="font-size: 1.5rem; vertical-align: middle;"><%= pretty_number container_quantity.full_qty %></span>
              <%= image_tag "JarIcon#{container_quantity.container_format.name}.png", size: "48x48" %>
            <% end %>
          </td>
          <td>
            <%= form.fields_for :container_quantities do |quantities_form| %>
              <%= quantities_form.number_field :grocery_qty, size: 2, step: 0.25 %>
              <%= image_tag "JarIcon#{quantities_form.object.container_format.name}.png", size: "48x48" %>
            <% end %>
          </td>
          <td style="vertical-align: middle;"><%= form.submit "Mettre à jour" %></td>
          <td style="vertical-align: middle;"><%= link_to 'Destroy', [@machine, machine_food], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
