<style>
.containers {
  height: 48px;
}

.containers div div:last-child {
  text-align: center;
  transform: translate(0px, -36px);
  font-size: 1.5rem;
}
</style>

<table class="table table-striped table-sm">
  <thead class="thead-dark">
    <tr>
      <th>Food</th>
      <th>Containers</th>
      <th>In inventory</th>
      <th>Assigned</th>
    </tr>
  </thead>

  <tbody>
    <% machine.machine_foods.includes(:container_quantities, :food).order('foods.name').each do |machine_food| %>
      <tr>
        <td style="vertical-align: middle; font-size: 1.2rem;"><%= link_to machine_food.food.name.capitalize, machine_food.food %></td>
        <td>
          <div class="containers" style="display: flex;">
          <% machine_food.food.containers.each do |container| %>
            <div>
              <div><%= image_tag "JarIcon#{container.format.name}.png", size: "48x48" %></div>
              <div><%= container.jar_id %></div>
            </div>
          <% end %>
        </td>
        <td style="vertical-align: middle; font-size: 1.3rem;">
          <%= pretty_volume_and_weight(Ingredient.food_grams(machine_food.food, machine_food.current_weight)) %>
        </td>
        <td>
          <% machine_food.container_quantities.each do |container_quantity| %>
            <span style="font-size: 1.5rem; vertical-align: middle;"><%= pretty_number container_quantity.full_qty %></span>
            <%= image_tag "JarIcon#{container_quantity.container_format.name}.png", size: "48x48" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!--Ordre: Alphabétique HAUT/BAS, Temps prochaine épicerie HAUT/BAS<br>
Filtrer catégories<br>
Rechercher...

<ul class="nav nav-pills" style="margin-bottom: 0.5rem; margin-top: 0.5rem;">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Prochaine épicerie</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Catégories</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>

<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th>Ingredient</th>
      <th>Jars</th>
      <th>Filled</th>
      <th>Inventory</th>
      <th>Full volume</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th colspan="6" style="color: #fff; background-color: #343a40; border-color: #454d55;">
        <%# form_with(url: 'TODO') do |form| %>
          <%# form.text_field :search_food, style: "background-color: #454d55; color: #fff;", size: 60, placeholder: 'Rechercher...' %>
        <%# end %>
      </th>
    </tr>
    <%# foods_by_tag_id = {} %>
    <%# machine.containers_by_food_id.each do |food_id, containers| %>
      <%# f = Food.find(food_id) %>
      <%# foods_by_tag_id[f.food_tag_id] = (foods_by_tag_id[f.food_tag_id] || []) + [f.id] %>
    <%# end %>
    <%# FoodTag.all.each do |food_tag| %>
      <%# foods = foods_by_tag_id[food_tag.id] %>
      <%# unless foods.blank? %>
        <tr>
          <th colspan="6" style="color: #fff; background-color: #343a40; border-color: #454d55;"><%# food_tag.name %></th>
        </tr>
        <%# (foods_by_tag_id[food_tag.id] || []).each do |food_id| %>
          <%# containers = machine.containers_by_food_id[food_id] %>
          <%# render partial: 'inventory_food_item', locals: {containers: containers, food_id: food_id} %>
        <%# end %>
      <%# end %>
    <%# end %>
    <tr>
      <th colspan="5" style="color: #fff; background-color: #343a40; border-color: #454d55;">Autres</th>
    </tr>
    <%# (foods_by_tag_id[nil] || []).each do |food_id| %>
      <%# containers = machine.containers_by_food_id[food_id] %>
      <%# render partial: 'inventory_food_item', locals: {containers: containers, food_id: food_id} %>
    <%# end %>
  </tbody>
</table>-->
