<%= render partial: "machines/tabs" %>

<p>Chaque aliment est assigné une quantité souhaitée. Par exemple, je veux avoir 2 gros pots de sucre et 1 gros pot de flocons d'avoine. L'IA va alors ajouté à la liste d'épicerie le sucre lorsqu'il reste 0.999 gros pots de sucre et moins, et 0.333 gros pots de flocons d'avoine (approximatif). L'IA regarde les habitudes alimentaire et les prochains repas à être cuisiner pour déterminer cela.</p>

<style>
.containers {
  height: 48px;
}

.containers div div:last-child {
  text-align: center;
  transform: translate(0px, -36px);
  font-size: 1.5rem;
}
</style>

<table class="table table-striped table-sm">
  <thead class="thead-dark">
    <tr>
      <th>Food</th>
      <th>Pot utilisé</th>
      <th>Quantité</th>
      <th>Souhaitée</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @machine.machine_foods.includes(:container_quantities, :food).order('foods.name').each do |machine_food| %>
      <tr>
        <td style="vertical-align: middle; font-size: 1.2rem;"><%= link_to machine_food.food.name.capitalize, machine_food.food %></td>
        <td>
          <div class="containers" style="display: flex;">
          <% machine_food.food.containers.each do |container| %>
            <div>
              <div><%= image_tag "JarIcon#{container.format.name}.png", size: "48x48" %></div>
              <div><%= container.jar_id %></div>
            </div>
          <% end %>
        </td>
        <td style="vertical-align: middle; font-size: 1.3rem;">
          <%= machine_food.current_weight ? machine_food.current_weight + " g" : nil %>
        </td>
        <td>
          <% machine_food.container_quantities.each do |container_quantity| %>
            <span style="font-size: 1.5rem; vertical-align: middle;"><%= pretty_number container_quantity.full_qty %></span>
            <%= image_tag "JarIcon#{container_quantity.container_format.name}.png", size: "48x48" %>
          <% end %>
        </td>
        <td style="vertical-align: middle; font-size: 1.3rem;">Modifier</td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Add a food</h3>
<%= form_with(model: [@machine, MachineFood.new], local: true) do |form| %>
  <%= form.label :food_id %>
  <%= form.collection_select :food_id, Food.where(in_pantry: true), :id, :name %>
  <%= form.submit %>
<% end %>
