<%= render partial: 'meta/nav' %>

<h2>Food</h2>

<table class="table">
  <thead>
    <tr>
      <th>Total</th>
      <th>In pantry</th>
      <th>Can be made</th>
      <th>Not in pantry and cannot be made</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= Food.count %></td>
      <td><%= Food.where(in_pantry: true).count %></td>
      <td><%= '?' %></td>
      <td><%= '?' %></td>
    </tr>
  </tfoot>
</table>

<h2>Recettes</h2>

<% total = Recipe.count %>
<% without_ingredients = Recipe.left_outer_joins(:recipe_ingredients).where(recipe_ingredients: {recipe_id: nil}).count %>

<table class="table">
  <thead>
    <tr>
      <th>Total</th>
      <th>Liens</th>
      <th>Avec ingrédients</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= total %></td>
      <td><%= without_ingredients %></td>
      <td><%= total - without_ingredients %></td>
    </tr>
  </tfoot>
</table>

<h2>Users</h2>

<p>Il y a <%= User.count %> utilisateurs inscrits.</p>

<% if current_user %>
  <h1>Current user</h1>

  <% formats = ContainerFormat.all %>
  <h2>Container formats</h2>
  <table class="table">
    <thead>
      <tr>
        <% formats.each do |format| %>
          <th><%= format.name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% formats.each do |format| %>
          <td><%= format.food_preferences.where(user_id: current_user.id).count %></td>
        <% end %>
      </tr>
    </tfoot>
  </table>
<% end %>
