<% carrousel_id = 1 if local_assigns[:carrousel_id].nil? %>

<% unless recipe_kinds.blank? %>
  <% title = "" if local_assigns[:title].nil? %>

  <span style="font-size: 1.4rem; font-weight: bold;"><%= title %></span>
  
  <div class="position-limbo" style="z-index: 10;">
    <span id="prev-recipe-carrousel-<%= carrousel_id %>" style="left: 5px; top: 40px;" class="my-tns-control" aria-disabled='true'><%= image_tag icon_path("custom-chevron-left.svg"), size: "45x90" %></span>
    <span id="next-recipe-carrousel-<%= carrousel_id %>" style="top: 40px; left: calc(100% - 50px);" class="my-tns-control"><%= image_tag icon_path("custom-chevron-right.svg"), size: "45x90" %></span>
  </div>

  <div id="recipe-carrousel-<%= carrousel_id %>" class="recipe-carrousel d-flex gap-20">
    <% recipe_kinds.select(&:image).each do |recipe_kind| %>
      <div>
        <%= link_to recipe_kind do %>
          <%= image_tag small_image_path(recipe_kind.image), width: 255, height: 171 %>
          <div style="width: 255px; text-align: center; font-family: 'Satisfy', cursive; font-size: 1.8rem; color: black; line-height: 1; margin-top: 0.25em;">
            <% c = recipe_kind.recipes.where(is_public: true).count %>
            <%= recipe_kind.name %> <span style="font-size: 0.8em;">(<%= c %>&nbsp;<%= c > 1 ? "recettes" : "recette" %>)</span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
