<%= render partial: 'meta/nav' %>

<div style="display: flex; align-items: center; gap: 1.5rem;">
  <h1>Catégories</h1>
  <%= link_to translated("Nouvelle catégorie"), new_recipe_kind_path, class: "btn btn-outline-primary btn-sm" %>
</div>
<hr style="margin-top: 0;">

<% [true, false].each do |bool| %>
  <h2>Sortes de recettes <%= bool ? "avec" : "sans" %> descriptions</h2>
  <% @recipe_kinds.select{|k|k.description_html.blank? != bool}.each do |recipe_kind| %>
    <div>
      <% c = recipe_kind.recipes.count %>
      <%= link_to recipe_kind.name, edit_recipe_kind_path(recipe_kind) %>(<%= c %> <%= c > 1 ? "recettes" : "recette" %>)
      <%= link_to_delete "X", recipe_kind_path(recipe_kind), 'data-confirm': 'Are you sure?' %>
    </div>
  <% end %>
<% end %>
