<%= render partial: 'meta/nav' %>

<h2>Ajouter une image</h2>

<%= render 'form', image: Image.new %>

<p id="notice"><%= notice %></p>

<h2>Liste d'images</h2>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Thumbnail</th>
      <th>Filename</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image.id %></td>
        <td><%= image_tag image.thumb_variant %></td>
        <td><%= image.filename %></td>
        <td><%= link_to 'Show', image %></td>
        <td><%= link_to 'Edit', edit_image_path(image) %></td>
        <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

