<%= render partial: 'meta/nav' %>

<h2>Ajouter une image</h2>

<%= render 'form', image: Image.new %>

<p id="notice"><%= notice %></p>

<h2>Liste d'images</h2>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Thumbnail</th>
      <th>description</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <%= form_with(model: image) do |form| %>
        <tr>
          <td><%= image.id %></td>
          <td><%= image_tag image.thumb_variant if params[:thumb] && image.original.attached? %></td>
          <td><%= form.text_field :description %></td>
          <td><%= form.submit "Modifier la description" %></td>
          <td><%= link_to 'Show', image %></td>
          <td><%= link_to 'Edit', edit_image_path(image) %></td>
          <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

