<%= link_to 'Index', images_path %> |
<%= link_to 'Process', process_image_image_path(@image), method: :patch %> |
<%= link_to 'Edit', edit_image_path(@image) %>

<br><br>

<style>
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
.slider-image-sample {
  margin-right: 20px;
}
.recipe-title {
  font-family: "Satisfy", cursive;
  font-weight: bold;
  font-size: 2.4rem;
  margin-bottom: 0.4em;
}
.recipe-search-title {
  font-family: "Satisfy", cursive;
  font-size: 1.4rem;
}
</style>

<p id="notice"><%= notice %></p>

<h2>Medium</h2>

<div style="display: flex;">
  <%= image_tag @image.medium_variant, style: "margin-right: 20px;" %>
  <div>
    <h2 class="recipe-title">Nom de la recette</h2>
    <div>
      <b>Inspiration:</b>
      <span style="color: gray;">https://www.ricardocuisine.com/en/recipes/6947-honey-madeleines</span>
    </div>
    <div>
      <b>Ingrédients:</b>
      <span style="color: gray;">farine, poudre à pâte, sel, oeuf, miel, beurre</span>
    </div>
  </div>
</div>

<% if @image.original.analyzed? %>
  <strong>Size:</strong> <%= number_to_human_size(@image.original.byte_size) %><br>
  <strong>Width:</strong> <%= @image.original.metadata[:width] %><br>
  <strong>Height:</strong> <%= @image.original.metadata[:height] %><br>
<% end %>

<h2>Small - List</h2>

<%= render partial: 'sample_list_item' %>
<%= render partial: 'sample_list_item' %>
<%= render partial: 'sample_list_item' %>

<h2>Small - Slider</h2>

<div style="display: flex;">
  <%= image_tag @image.small_variant, class: "slider-image-sample" %>
  <%= image_tag @image.small_variant, class: "slider-image-sample" %>
  <%= image_tag @image.small_variant, class: "slider-image-sample" %>
  <%= image_tag @image.small_variant, class: "slider-image-sample" %>
</div>

<h2>Tiny</h2>

<%= render partial: 'sample_search_item' %>
<%= render partial: 'sample_search_item' %>
<%= render partial: 'sample_search_item' %>

<%# image_tag display_image_path(@image.original) %>
