<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 10px;">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%# render partial: 'layouts/top_search', locals: {user: current_user} %>
  <div class="collapse navbar-collapse bg-dark">
    <div class="navbar-nav" style="width: 100%;">
      <%= link_to_active_controller "Heda", home_path, "home", class: "navbar-brand" %>
      <% if user_signed_in? %>
        <%= link_to_active_if ["recipes", "menus", "user_recipes"].include?(controller_name), t("heda.menu.recipes"), user_recipes_path, class: "nav-item nav-link" %>
        <%# link_to_active_if ["recipes", "menus", "user_recipes"].include?(controller_name), t("heda.menu.recipes"), user_recipes_path, class: "nav-item nav-link" %>
      <% else %>
        <%= link_to_active_if ["recipes", "menus", "user_recipes"].include?(controller_name), t("heda.menu.recipes"), recipes_path, class: "nav-item nav-link" %>
      <% end %>
      <%# link_to_active 'Utilisateurs', users_index_path, class: "nav-item nav-link" %>
      <% if current_user_admin? %>
        <%# link_to_active 'Appareils', machines_path, class: "nav-item nav-link" %>
        <%= link_to_active 'Articles', articles_path, class: "nav-item nav-link" %>
        <%= link_to_active 'Admin', meta_index_path, class: "nav-item nav-link" %>
      <% end %>
      <div style="flex-grow: 3;"></div>
      <% if user_signed_in? %>
        <%# if (params[:locale] && params[:locale][0..1] == 'fr') || (params[:locale].blank? && I18n.default_locale[0..1] == 'fr') %>
          <%# link_to 'EN', url_for(locale: 'en'), class: 'nav-item nav-link' %>
          <%# url_for(params.merge({:your_new_parameter => value})) maybe this is above does not work %>
        <%# else %>
          <%# link_to 'FR', url_for(locale: 'fr'), class: 'nav-item nav-link' %>
        <%# end %>
        <div class="dropdown nav-item">
          <a class="nav-link dropdown-toggle" href="#" id="regionMenuButton" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= image_tag "/flags/#{current_region.code}.svg", style: "width: 2em; border: 1px solid #bbb;" if asset_exist?("#{current_region.code}.svg") %>
            <%= current_region.name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="regionMenuButton">
            <% (Region.all - [current_region]).each do |region| %>
              <%= link_to url_for(locale: region.locale), hreflang: region.locale, rel: 'alternate', class: "dropdown-item" do %>
                <%= image_tag "/flags/#{region.code}.svg", style: "width: 2em; border: 1px solid #bbb;" if asset_exist?("#{region.code}.svg") %>
                <%= region.name %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="dropdown nav-item">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= t("heda.my_account") %>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="dropdown-item disabled"><%= current_user.email %></div>
            <%= link_to "Mon profil", current_user, class: "dropdown-item" %>
            <%= link_to t("heda.modify"), users_modify_path, class: "dropdown-item" %>
            <%= link_to t("heda.menu.logout"), destroy_user_session_path, method: :delete, class: "dropdown-item"  %>
            <% unless current_user.siblings.blank? %>
              <li><hr class="dropdown-divider"></li>
              <li><h6 class="dropdown-header">Changer de compte</h6></li>
              <% current_user.siblings.each do |sibling| %>
                <%= link_to sibling.email, change_to_sibling_user_path(sibling), method: 'patch', class: "dropdown-item"  %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% else %>
        <%# link_to t("devise.shared.links.sign_up"), new_user_registration_path, class: "nav-item nav-link" %>
        <%= link_to t("devise.sessions.new.sign_in"), dev_url_or(new_user_session_path), class: "nav-item nav-link" %>
      <% end %>
    </div>
  </div>
</nav>
