<% if user_signed_in? %>
  <% if (params[:locale] && params[:locale][0..1] == 'fr') || (params[:locale].blank? && I18n.default_locale[0..1] == 'fr') %>
    <%= link_to 'EN', url_for(locale: 'en'), class: 'nav-item nav-link' %>
    <%# url_for(params.merge({:your_new_parameter => value})) maybe this is above does not work %>
  <% else %>
    <%= link_to 'FR', url_for(locale: 'fr'), class: 'nav-item nav-link' %>
  <% end %>
<% end %>
<% if user_signed_in? %>
  <div class="dropdown nav-item">
    <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <%= t("heda.my_account") %>
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <div class="dropdown-item disabled"><%= current_user.email %></div>
      <%= link_to t("heda.modify"), users_modify_path, class: "dropdown-item" %>
      <%= link_to t("heda.menu.logout"), destroy_user_session_path, method: :delete, class: "dropdown-item"  %>
    </div>
  </div>
<% else %>
  <%# link_to t("devise.shared.links.sign_up"), new_user_registration_path, class: "nav-item nav-link" %>
  <%# link_to t("devise.sessions.new.sign_in"), new_user_session_path, class: "nav-item nav-link" %>
<% end %>
