<!-- collapsed -->
<div class="d-md-none">
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 10px;">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= render partial: 'layouts/top_search', locals: {user: current_user} %>
    <div class="collapse navbar-collapse bg-dark">
      <div class="navbar-nav">
        <%= render partial: 'layouts/navbar_start_links' %>
        <%= render partial: 'layouts/navbar_end_links' %>
      </div>
    </div>
  </nav>
</div>
<!-- expanded -->
<div class="d-none d-md-block">
  <nav class="navbar navbar-expand navbar-dark bg-dark justify-content-between">
    <div class="navbar-nav">
      <%= render partial: 'layouts/navbar_start_links' %>
    </div>
    <%= render partial: 'layouts/top_search', locals: {user: current_user} %>
    <div class="navbar-nav">
      <%= render partial: 'layouts/navbar_end_links' %>
    </div>
  </nav>
</div>
<div style="height: 10px; width: 100%;"></div>
