<nav class="navbar navbar-expand navbar-dark bg-dark" style="padding: 0;">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 10px;">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse bg-dark">
    <div class="navbar-nav" style="width: 100%;">
      <%= link_to_active_if "recipes" == controller_name && action_name == "my_recipes", "Mes recettes", public_editor_url(my_recipes_path), class: "nav-item nav-link" %>
      <%= link_to_active 'Mes livres', public_editor_url(my_books_path), class: "nav-item nav-link" %>
      <%= link_to what_to_eat_path, class: "nav-item nav-link" do %>
        <%= image_tag icon_path("eat.svg"), height:"24", width:"24" %>
      <% end %>
      <div style="flex-grow: 3;"></div>
      <% if user_signed_in? %>
        <div class="dropdown nav-item">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= current_user.email %>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to "Mon profil", current_user, class: "dropdown-item" %>
            <%= link_to t("heda.modify"), users_modify_path, class: "dropdown-item" %>
            <%= link_to t("heda.menu.logout"), destroy_user_session_path, method: :delete, class: "dropdown-item"  %>
            <% unless current_user.siblings.blank? %>
              <li><hr class="dropdown-divider"></li>
              <li><h6 class="dropdown-header">Changer de compte</h6></li>
              <% current_user.siblings.each do |sibling| %>
                <%= link_to sibling.email, change_to_sibling_user_path(sibling), method: 'patch', class: "dropdown-item"  %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% else %>
        <%# link_to t("devise.shared.links.sign_up"), new_user_registration_path, class: "nav-item nav-link" %>
        <%= link_to t("devise.sessions.new.sign_in"), public_editor_url(new_user_session_path), class: "nav-item nav-link" %>
      <% end %>
    </div>
  </div>
</nav>
