<!DOCTYPE html>
<html>
  <head>
    <title>HedaCuisine</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8"/>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    <%# favicon_link_tag asset_path("logo.png") %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  </head>

  <body>

    <span id="locale" hidden><%= params[:locale] %></span>

    <div id="body">
      <div class="responsive-margins-lg">
        <%= render partial: 'layouts/navbar' %>

        <% unless flash.empty? %>
          <script type="text/javascript">
            <% flash.each do |f| %>
              <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
          	  toastr['<%= type %>']('<%= (simple_format f[1]).gsub(/[\n\r\']/, '').html_safe %>');
            <% end %>
          </script>
        <% end %>

        <div class="root">
          <%= yield %>
        </div>

        
      </div>
    </div>
    <%# javascript_pack_tag 'autocomplete_pack' %>
  </body>
  <%= content_for :render_async %>
</html>
