<!DOCTYPE html>
<html>
  <head>
    <% title = yield(:title) %>
    <% title = title.blank? ? "HedaCuisine – Robot garde-manger" : title %>
    <title><%= title %></title>
    <% if user_signed_in? %>
      <%= csrf_meta_tags %>
    <% end %>
    <%= csp_meta_tag %>
    <meta charset="utf-8"/>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'autocomplete' %>
    <%= javascript_pack_tag "autocomplete_search" %>
    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% description = yield(:description) %>
    <% unless description.blank? %>
      <meta name="description" content="<%= description %>">
    <% end %>
    <% if current_region %>
      <meta property="og:locale" content="<%= current_region.locale_with_underscore %>">
      <span id="region" hidden><%= current_region.code %></span>
    <% end %>
    <%= yield(:og_tags) %>
    <%= include_gon %>
  </head>
  <body>
    <div id="top-search">
      <%= search_field_tag :search, nil, placeholder: "#{t_no_span("heda.search")}...", 'aria-lable': "Search", 'data-autocomplete-url': search_data_path(format: 'json'), value: params[:search] %>
      <%= image_tag icon_path('search.svg'), class: "search-image", style: "width: 20px; height: 20px; margin-right: 5px; transform: translate(0px, -5px);" %>
    </div>
    <div class="responsive-margins-lg">
      <div style="min-height: 100%;">
        <%= render partial: 'layouts/navbar' %>
        <%= render partial: 'layouts/user_navbar' %>

        <% unless flash.empty? %>
          <script type="text/javascript">
            <% flash.each do |f| %>
              <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
          	  toastr['<%= type %>']('<%= (simple_format f[1]).gsub(/[\n\r\']/, '').html_safe %>');
            <% end %>
          </script>
        <% end %>

        <div class="root">
          <%= yield %>
        </div>
      </div>

      <footer>
        <small style="margin-left: 1rem;">&copy; Copyright <%= Date.current.year%>, Pascal Rainville</small>
      </footer>        
    </div>
    <%# javascript_pack_tag 'autocomplete_pack' %>

    <script async src="//static.getclicky.com/101337754.js"></script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101337754ns.gif" /></p></noscript>

  </body>
  <%= content_for :render_async %>
</html>
