<!DOCTYPE html>
<html>
  <head>
    <title>HedaRecipes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%# favicon_link_tag asset_path("logo.png") %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" style="flex-grow: unset;">
        <div class="navbar-nav">
          <%= link_to_active t("hedacuisine.menu.home"), home_path, class: "nav-item nav-link" %>
          <% if current_user_admin? %>
            <%= link_to_active 'Meta', meta_index_path, class: "nav-item nav-link" %>
          <% end %>
        </div>
      </div>
      <%= render partial: 'layouts/top_search', locals: {user: current_user} %>
      <div class="collapse navbar-collapse" style="flex-grow: unset;">
        <div class="navbar-nav">
          <% if params[:locale] and params[:locale][0..1] == 'fr' %>
            <%= link_to 'EN', url_for(locale: 'en'), class: 'nav-item nav-link' %>
            <%# url_for(params.merge({:your_new_parameter => value})) maybe this is above does not work %>
          <% else %>
            <%= link_to 'FR', url_for(locale: 'fr-CA'), class: 'nav-item nav-link' %>
          <% end %>
          <% if user_signed_in? %>
            <div class="dropdown nav-item">
              <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= t("hedacuisine.my_account") %>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%= link_to t("hedacuisine.modify"), users_modify_path, class: "dropdown-item" %>
                <%= link_to_active 'Mes recettes', recipes_path, class: "dropdown-item" %>
                <%= link_to_active 'Mes menus', menus_path, class: "dropdown-item" %>
                <%= link_to_active 'Liens', menus_path, class: "dropdown-item" %>
                <%= link_to_active 'Ingrédients', food_preferences_path, class: "dropdown-item" %>
              </div>
            </div>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-item nav-link"  %>
          <% else %>
            <%= link_to t("devise.shared.links.sign_up"), new_user_registration_path, class: "nav-item nav-link" %>
            <%= link_to t("devise.sessions.new.sign_in"), new_user_session_path, class: "nav-item nav-link" %>
          <% end %>
        </div>
      </div>
    </nav>

    <% unless flash.empty? %>
      <script type="text/javascript">
        <% flash.each do |f| %>
          <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
      	  toastr['<%= type %>']('<%= (simple_format f[1]).gsub(/[\n\r\']/, '').html_safe %>');
        <% end %>
      </script>
    <% end %>

    <div class="wrapper">
      <!-- TODO: Put this is a partial -->
      <nav id="sidebar" class="pl-1 pr-3 border-right" style="background-color: #F4F4F4;">
        <!--<h2 style="text-align: center; border-bottom: 1px solid black;">Menus</h2>-->
        <strong class="text-center">Mes menus 🧑‍🍳</strong><br>
        <div class="ml-3">
          Aucun<br>
        </div>
        <strong class="text-center">Mes favoris ❤️</strong><br>
        <div class="ml-3">
        Aucun<br>
        </div>
        <strong class="text-center">Mes proches 👪</strong><br>
        <div class="ml-3">
        Aucun<br>
        </div>
        <strong class="text-center">Menus Heda 🦾</strong><br>
        <% Listing.order(:order).each do |listing| %>
          <div style="size: 1.3em; color: gray;"><%= listing.name %></div>
          <div class="ml-3">
            <% listing.menus.each do |m| %>
              <%= link_to m.name, m, style: "color: black;" %><br>
            <% end %>
          </div>
        <% end %>
        <div style="size: 1.3em; color: gray;">Autres</div> <!-- TODO: Remove this -->
        <div class="ml-3">
          <% User.first.menus.where(listing_id: nil).each do |menu| # FIXME
            %>
            <%= link_to menu.name, menu, style: "color: black;" %><br>
          <% end %>
        </div>
      </nav>
    
      <div id="content" class="mx-2" style="width: 100%">
        <%= yield %>
      </div>
    
    </div>  
    <%# javascript_pack_tag 'autocomplete_pack' %>
  </body>
  <%= content_for :render_async %>
</html>

<%= javascript_pack_tag "top_search" %>
